<template>
    <div>
        <v-layout row wrap class="bussAssess py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">Assess Yourself</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card-text class="bussAssess--text font-weight-bold mx-auto page-info-text">Life is a balance. Your business will eventually suffer, if you are not balanced. We would like you to achieve happiness and success. Let’s get started!</v-card-text>
                    <v-card-text class="page-info-text text-xs-left mx-auto">
                        Give yourself a score of 1-10; lowest to highest, respectively on the below sections. Higher is better but be honest with yourself. At Grel, we believe that your business suffers if you don't have other elements of your life in order. Health, Relationships, … Happiness is what we would like you to achieve.
                    </v-card-text>
                </v-flex>
                <v-flex xs12>
                    <v-form class="mx-auto" style="max-width: 990px;">
                        <v-card-text>
                            <h2 class="display-1 font-weight-thin mb-0 text-uppercase text-xs-left">MEASURE YOUR MOTIVATION</h2>
                            <p class="text-xs-left">(Scale of 1 to 10. 1 Being Poor, 10 Being Excellent)</p>
                        </v-card-text>
                        <v-flex xs12>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-layout row wrap class="my-3">
                                <v-flex sm9 d-flex align-center class="text-xs-left">
                                    <v-card-text>
                                        <p class="mb-0" style="font-size: 16px">If you get a score below <strong>70</strong>, then you should start working on your life plan right away! Healthy mind gives healthy body; which thereby ensure that you have enough strength to work for your goals. Your business will eventually suffer if this is below <strong>70.</strong> The higher the score, the greater is your chance of success in business.</p>
                                    </v-card-text>
                                </v-flex>
                                <v-flex sm3>
                                    <v-progress-circular
                                            :rotate="180"
                                            :size="150"
                                            :width="15"
                                            :value="value"
                                            color="pink"
                                    >
                                        {{ value }} / 100
                                        <p class="mb-0">Your Score</p>
                                    </v-progress-circular>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12 mb-3>
                            <v-card-text class="mot-quotes-img px-0">
                                <img src="../../images/motivational-img.png" style="width: 100%">
                                <h4 class="font-italic font-weight-thin white--text text-xs-right">“Failing to plan is planning to fail.” <br><span class="right">~Alan Lakein</span></h4>
                            </v-card-text>
                        </v-flex>
                        <v-card-text>
                            <h2 class="display-1 font-weight-thin mb-0 text-uppercase text-xs-left">MY REAL ESTATE BUSINESS</h2>
                            <p class="text-xs-left">(Scale of 1 to 10. 1 Being Poor, 10 Being Excellent)</p>
                        </v-card-text>
                        <v-flex xs12>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-layout row wrap class="my-3">
                                <v-flex sm9 d-flex align-center class="text-xs-left">
                                    <v-card-text>
                                        <p class="mb-0" style="font-size: 16px">If you get a score below <strong>70</strong>, then you should start working on your life plan right away! Healthy mind gives healthy body; which thereby ensure that you have enough strength to work for your goals. Your business will eventually suffer if this is below <strong>70.</strong> The higher the score, the greater is your chance of success in business.</p>
                                    </v-card-text>
                                </v-flex>
                                <v-flex sm3>
                                    <v-progress-circular
                                            :rotate="180"
                                            :size="150"
                                            :width="15"
                                            :value="value"
                                            color="pink"
                                    >
                                        {{ value }} / 100
                                        <p class="mb-0">Your Score</p>
                                    </v-progress-circular>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex xs12 mb-3>
                            <v-card-text class="mot-quotes-img px-0">
                                <img src="../../images/motivational-img.png" style="width: 100%">
                                <h4 class="font-italic font-weight-thin white--text text-xs-right">“Failing to plan is planning to fail.” <br><span class="right">~Alan Lakein</span></h4>
                            </v-card-text>
                        </v-flex>
                        <v-card-text>
                            <h2 class="display-1 font-weight-thin mb-0 text-uppercase text-xs-left">MEASURE YOUR HEALTH</h2>
                            <p class="text-xs-left">(Scale of 1 to 10. 1 Being Poor, 10 Being Excellent)</p>
                        </v-card-text>
                        <v-flex xs12>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-layout row wrap class="my-3">
                                <v-flex sm9 d-flex align-center class="text-xs-left">
                                    <v-card-text>
                                        <p class="mb-0" style="font-size: 16px">If you get a score below <strong>70</strong>, then you should start working on your life plan right away! Healthy mind gives healthy body; which thereby ensure that you have enough strength to work for your goals. Your business will eventually suffer if this is below <strong>70.</strong> The higher the score, the greater is your chance of success in business.</p>
                                    </v-card-text>
                                </v-flex>
                                <v-flex sm3>
                                    <v-progress-circular
                                            :rotate="180"
                                            :size="150"
                                            :width="15"
                                            :value="value"
                                            color="pink"
                                    >
                                        {{ value }} / 100
                                        <p class="mb-0">Your Score</p>
                                    </v-progress-circular>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex xs12 mb-3>
                            <v-card-text class="mot-quotes-img px-0">
                                <img src="../../images/motivational-img.png" style="width: 100%">
                                <h4 class="font-italic font-weight-thin white--text text-xs-right">“Failing to plan is planning to fail.” <br><span class="right">~Alan Lakein</span></h4>
                            </v-card-text>
                        </v-flex>
                        <v-card-text>
                            <h2 class="display-1 font-weight-thin mb-0 text-uppercase text-xs-left">MEASURE YOUR RELATIONSHIP FUNDAMENTALS</h2>
                            <p class="text-xs-left">(Scale of 1 to 10. 1 Being Poor, 10 Being Excellent)</p>
                        </v-card-text>
                        <v-flex xs12>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="white">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-text class="grey lighten-3">
                                <v-layout row wrap>
                                    <v-flex md6 d-flex align-center class="text-xs-left">
                                        <p class="mb-0 pl-3" style="font-size: 16px">You love your job and strive for success.</p>
                                    </v-flex>
                                    <v-flex md6>
                                        <v-layout row wrap>
                                            <v-flex xs10 d-flex align-center>
                                                <v-slider
                                                        v-model="slideValue"
                                                        hide-details
                                                        class="single-bus-slider"
                                                ></v-slider>
                                            </v-flex>
                                            <v-flex xs2 d-flex flex>
                                                <v-text-field
                                                        v-model="slideValue"
                                                        class="mt-0 single-value-slider border"
                                                        type="text"
                                                        disabled
                                                        hide-details
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-layout row wrap class="my-3">
                                <v-flex sm9 d-flex align-center class="text-xs-left">
                                    <v-card-text>
                                        <p class="mb-0" style="font-size: 16px">If you get a score below <strong>70</strong>, then you should start working on your life plan right away! Healthy mind gives healthy body; which thereby ensure that you have enough strength to work for your goals. Your business will eventually suffer if this is below <strong>70.</strong> The higher the score, the greater is your chance of success in business.</p>
                                    </v-card-text>
                                </v-flex>
                                <v-flex sm3>
                                    <v-progress-circular
                                            :rotate="180"
                                            :size="150"
                                            :width="15"
                                            :value="value"
                                            color="pink"
                                    >
                                        {{ value }} / 100
                                        <p class="mb-0">Your Score</p>
                                    </v-progress-circular>
                                </v-flex>
                            </v-layout>
                        </v-flex>



                        <v-flex xs12 mt-3>
                            <v-btn flat depressed round class="bussAssess--text right ma-0 border assessBorder font-weight-thin">
                                Save & Continue
                            </v-btn>
                        </v-flex>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{
                slideValue: 0,
                interval: {},
                value: 0

            }
        },
        beforeDestroy () {
            clearInterval(this.interval)
        },
        mounted () {
            this.interval = setInterval(() => {
                if (this.value === 100) {
                    return (this.value = 0)
                }
                this.value += 10
            }, 1000)
        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
    .v-progress-circular{margin: 1rem}
</style>