<template>
    <v-layout row wrap>
        <v-flex xs5 sm4>
            <h2 class="feature-heading">Broker Edition - Training</h2>
        </v-flex>
        <v-flex xs7 class="progress-section">
            <h6>Level Wise Progress</h6>
            <v-progress-linear height="18" v-on:score="assignValue" :value="this.levelProgress">
            </v-progress-linear>
            <p>{{this.levelProgress}}%</p>
        </v-flex>
        <v-flex xs12></v-flex>
        <v-flex xs12 sm3 class="grel-levels">
            <v-expansion-panel expand v-model="panel">
                <v-expansion-panel-content
                        v-for="(level,i) in levelDetails"
                        :key="i"
                >
                    <div class="level-title" slot="header">
                        Level {{i+1}}: {{level.title}}
                        <span class="level-includes">{{level.details}}</span>
                    </div>
                    <v-card class="listed-levels" :class=" 'brokerLevel' + parseInt(i+1) ">
                        <v-card-text>
                            <v-tabs class="section-progress" v-bind:class="{ 'completed': sections.completed }" v-model="activeTab" hide-slider v-for="(sections,index) in level.sectionDetails"
                                    :key="index">
                                <a :class="{ 'activetab': sections.activeSection }" :href="'#/broker-'+ (parseInt(i+1)) + '.' + (parseInt(index+1))">
                                    <span>Section {{(parseInt(i+1)) }}.{{index+1}}:</span> {{sections.sectionTitle}}
                                </a>
                            </v-tabs>
                        </v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-flex>
        <v-flex xs12 sm9 class="main-level-details">
            <training-details :training="activeTab" v-on:mark_complete="markComplete"></training-details>
        </v-flex>

    </v-layout>


</template>

<script>
    import trainingDetails from '../components/trainingDetails';
    export default {
        components: {
            'training-details': trainingDetails
        },
        data() {
            return {
                isCompleted: false,
                tish: 0,
                levelProgress: 0,
                panel: [true, false, false, false],
                test: '1',
                activeTab: "broker-1.1",
                levelDetails: [
                    {
                        title: 'Foundations Of Real Estate',
                        details: '4 videos | Total 42.18',
                        sectionDetails: [
                            {
                                sectionTitle: '1Why is contact management and segmentation important?',
                                activeSection: true,
                                completed: false
                            },
                            {
                                sectionTitle: '2Why is contact management and segmentation important?',
                                activeSection: true,
                                completed: false
                            },
                            {
                                sectionTitle: '3Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '4Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            }
                        ]
                    },
                    {
                        title: 'Foundations Of Real Estate',
                        details: '4 videos | Total 42.18',
                        progress: 0,
                        sectionDetails: [
                            {
                                sectionTitle: '21Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '22Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '23Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '24Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            }
                        ]
                    },
                    {
                        title: 'Foundations Of Real Estate',
                        details: '4 videos | Total 42.18',
                        progress: 0,
                        sectionDetails: [
                            {
                                sectionTitle: '3.1Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '3.2Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '3.3Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '3.4Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            }
                        ]
                    },
                    {
                        title: 'Foundations Of Real Estate',
                        details: '4 videos | Total 42.18',
                        progress: 0,
                        sectionDetails: [
                            {
                                sectionTitle: '4.1Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '4.2Why is contact management and segmentation important',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '4.3Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            },
                            {
                                sectionTitle: '4.4Why is contact management and segmentation important?',
                                activeSection: false,
                                completed: false
                            }
                        ]
                    }
                ]
            }
        },
        methods: {
            assignValue: function(a){
              this.levelProgress = a;
            },
            markComplete: function (section) {
                // ----- finding target Section
                let targetParts = section.split('-')[1].trim();
                let sectionPinter = targetParts.split('.');
                let edge = 4;
                let targetSection = this.levelDetails[sectionPinter[0]-1].sectionDetails;
                let targetDetail = targetSection[sectionPinter[1]-1];

                let nextSectionPointer = sectionPinter[1] == edge ? parseInt(sectionPinter[0])+1 : sectionPinter[0];
                let nextSectionDetailPointer = sectionPinter[1] == edge ? 0 : sectionPinter[1];
                let nextSection = this.levelDetails[nextSectionPointer-1].sectionDetails;
                let nextDetail = nextSection[nextSectionDetailPointer];

                if (sectionPinter[1] == edge) {
                    let newPanel = _.clone(this.panel);
                    newPanel[nextSectionPointer-1] = true;
                    newPanel[nextSectionPointer-2] = false;
                    this.panel = newPanel;
                }

                targetDetail.completed = true;
                nextDetail.activeSection = true;
                this.levelProgress += 6;

                // ----- checking if all are completed
                /*let isIncomplete = false;
                _.forEach(targetSection, function(itm){
                    if (itm.completed == false) {
                        isIncomplete = true;
                        return true;
                    }
                });*/

            }
        },
        mounted: function () {

        }
    }
</script>

<!--<style>-->
<!--.layout{display:block}-->
<!--</style>-->