<template>
    <div>
        <v-layout row wrap class="bussInfo py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">Let's Get Started</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card-text class="bussInfo--text font-weight-bold mx-auto page-info-text">We will need a little bit of information. All the information below will be used in later pages, and will help guide you through the process.</v-card-text>
                </v-flex>
                <v-flex xs12>
                    <v-form class="mx-auto" style="max-width: 900px;">
                        <v-card-text>
                            <h2 class="display-1 font-weight-thin mb-3 text-uppercase">Business Information</h2>
                            <v-btn flat depressed class="upload-pic-bp">
                                <v-icon size="72">
                                    tag_faces
                                </v-icon>
                                Upload Your Photo
                            </v-btn>
                        </v-card-text>
                        <v-flex xs12>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">Your Name</label>
                                    <v-text-field
                                            label=""
                                            placeholder="Enter Name"
                                            solo
                                    ></v-text-field>
                                </v-flex>
                                <v-flex md6>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">Gender</label>
                                    <v-radio-group v-model="radioGroup" class="mt-0">
                                        <v-layout row wrap>
                                            <v-flex xs4>
                                                <v-radio
                                                        label="Male"
                                                        value="male"
                                                        color="green"
                                                        class="mb-0 single-label-radio"
                                                ></v-radio>
                                            </v-flex>
                                            <v-flex xs4>
                                                <v-radio
                                                        label="Female"
                                                        value="female"
                                                        color="green"
                                                        class="mb-0 single-label-radio"
                                                ></v-radio>
                                            </v-flex>
                                        </v-layout>
                                    </v-radio-group>
                                </v-flex>
                                <v-flex md6>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">Years In The Business</label>
                                    <v-text-field
                                            label=""
                                            placeholder="10"
                                            solo
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">Company</label>
                                    <v-text-field
                                            label=""
                                            placeholder="Company Name"
                                            solo
                                    ></v-text-field>
                                </v-flex>
                                <v-flex md6>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">Country</label>
                                    <v-text-field
                                            label=""
                                            placeholder="Enter Your Country"
                                            solo
                                    ></v-text-field>
                                </v-flex>
                                <v-flex md6>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">City</label>
                                    <v-text-field
                                            label=""
                                            placeholder="Enter Your City"
                                            solo
                                    ></v-text-field>
                                </v-flex>
                                <v-flex md6>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">Email</label>
                                    <v-text-field
                                            label=""
                                            placeholder="Enter Your Email Address"
                                            solo
                                    ></v-text-field>
                                </v-flex>
                                <v-flex md6>
                                    <label class="text-uppercase text-xs-left font-weight-bold fields-label">Phone Number</label>
                                    <v-text-field
                                            label=""
                                            placeholder="Enter Your #"
                                            solo
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-card-text class="mot-quotes-img px-0">
                                        <img src="../../images/motivational-img.png" style="width: 100%">
                                        <h4 class="font-italic font-weight-thin white--text text-xs-right">“Failing to plan is planning to fail.” <br><span class="right">~Alan Lakein</span></h4>
                                    </v-card-text>
                                </v-flex>
                                <v-flex xs12>
                                    <v-card-text class="px-0">
                                        <h2 class="display-1 font-weight-thin mb-3 text-capitalize text-xs-left">Determine If You Agree or Disagree With The Following Statements</h2>
                                    </v-card-text>
                                </v-flex>
                                <v-flex xs12>
                                    <v-layout row wrap>
                                        <v-flex sm8 d-flex align-center class="grey lighten-3">
                                            <v-card-text class="text-xs-left" style="font-size: 15px;max-width: 470px;">
                                                It might not be easy following my Business Plan, but I commit to complete it
                                            </v-card-text>
                                        </v-flex>
                                        <v-flex sm4 pa-0>
                                            <v-radio-group v-model="radioGroup" class="mt-0 bundle-switches">
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="grey lighten-3 px-0 py-2">
                                                        <v-card-text class="py-4 border-left border-right agree-statements">
                                                            <v-radio
                                                                    label="Yes"
                                                                    value="yes"
                                                                    color="green"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                    <v-flex xs6 class="grey lighten-3 px-0 py-2">
                                                        <v-card-text class="py-4 agree-statements">
                                                            <v-radio
                                                                    label="No"
                                                                    value="No"
                                                                    color="error"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                </v-layout>
                                            </v-radio-group>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex sm8 d-flex align-center class="white">
                                            <v-card-text class="text-xs-left" style="font-size: 15px;max-width: 470px;">
                                                It might not be easy following my Business Plan, but I commit to complete it
                                            </v-card-text>
                                        </v-flex>
                                        <v-flex sm4 pa-0>
                                            <v-radio-group v-model="radioGroup" class="mt-0 bundle-switches">
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="white px-0 py-2">
                                                        <v-card-text class="py-4 border-left border-right agree-statements">
                                                            <v-radio
                                                                    label="Yes"
                                                                    value="yes"
                                                                    color="green"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                    <v-flex xs6 class="white px-0 py-2">
                                                        <v-card-text class="py-4 agree-statements">
                                                            <v-radio
                                                                    label="No"
                                                                    value="No"
                                                                    color="error"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                </v-layout>
                                            </v-radio-group>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex sm8 d-flex align-center class="grey lighten-3">
                                            <v-card-text class="text-xs-left" style="font-size: 15px;max-width: 470px;">
                                                It might not be easy following my Business Plan, but I commit to complete it
                                            </v-card-text>
                                        </v-flex>
                                        <v-flex sm4 pa-0>
                                            <v-radio-group v-model="radioGroup" class="mt-0 bundle-switches">
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="grey lighten-3 px-0 py-2">
                                                        <v-card-text class="py-4 border-left border-right agree-statements">
                                                            <v-radio
                                                                    label="Yes"
                                                                    value="yes"
                                                                    color="green"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                    <v-flex xs6 class="grey lighten-3 px-0 py-2">
                                                        <v-card-text class="py-4 agree-statements">
                                                            <v-radio
                                                                    label="No"
                                                                    value="No"
                                                                    color="error"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                </v-layout>
                                            </v-radio-group>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex sm8 d-flex align-center class="white">
                                            <v-card-text class="text-xs-left" style="font-size: 15px;max-width: 470px;">
                                                It might not be easy following my Business Plan, but I commit to complete it
                                            </v-card-text>
                                        </v-flex>
                                        <v-flex sm4 pa-0>
                                            <v-radio-group v-model="radioGroup" class="mt-0 bundle-switches">
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="white px-0 py-2">
                                                        <v-card-text class="py-4 border-left border-right agree-statements">
                                                            <v-radio
                                                                    label="Yes"
                                                                    value="yes"
                                                                    color="green"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                    <v-flex xs6 class="white px-0 py-2">
                                                        <v-card-text class="py-4 agree-statements">
                                                            <v-radio
                                                                    label="No"
                                                                    value="No"
                                                                    color="error"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                </v-layout>
                                            </v-radio-group>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex sm8 d-flex align-center class="grey lighten-3">
                                            <v-card-text class="text-xs-left" style="font-size: 15px;max-width: 470px;">
                                                It might not be easy following my Business Plan, but I commit to complete it
                                            </v-card-text>
                                        </v-flex>
                                        <v-flex sm4 pa-0>
                                            <v-radio-group v-model="radioGroup" class="mt-0 bundle-switches">
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="grey lighten-3 px-0 py-2">
                                                        <v-card-text class="py-4 border-left border-right agree-statements">
                                                            <v-radio
                                                                    label="Yes"
                                                                    value="yes"
                                                                    color="green"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                    <v-flex xs6 class="grey lighten-3 px-0 py-2">
                                                        <v-card-text class="py-4 agree-statements">
                                                            <v-radio
                                                                    label="No"
                                                                    value="No"
                                                                    color="error"
                                                                    class="mb-0 single-label-radio"
                                                            ></v-radio>
                                                        </v-card-text>
                                                    </v-flex>
                                                </v-layout>
                                            </v-radio-group>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12 mt-3>
                            <v-btn flat depressed round class="bussInfo--text right ma-0 border busInfoBorder font-weight-thin">
                                Save & Continue
                            </v-btn>
                        </v-flex>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{
                radioGroup: 1,

            }
        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>