<template>
    <v-layout row wrap class="indigo darken-2">
        <v-flex class="text-xs-center">
            <h1>12 Months Business Plan</h1>
            <h2 v-html="pageTitle"></h2>
            <v-btn icon>
                <v-icon>play_circle_outline</v-icon>
            </v-btn>
            <span>How To Use This Page</span>
        </v-flex>
    </v-layout>
</template>


<script>
    export default {
        data(){
            return{
                pageTitle: '<h2>Let\'s Get Started</h2>',
                pageColor:''
            }
        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>