<template>
    <div>
        <v-layout row wrap class="bussFace py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">FACE TO FACE</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center class="px-0">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-form>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;">
                            <v-flex xs12>
                                <v-card-text class="bussFace--text font-weight-medium mx-auto page-info-text">These are actions that are exactly how they sound; FACE TO FACE!</v-card-text>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;" pb-5>
                            <v-flex xs12 mt-2>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Allocate how much time/week you will work on this ( hrs )</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Hours"
                                                        solo
                                                        hide-details
                                                        append-icon="access_time"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Daily effort based on 5 days ( mins )</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left headline my-2 fields-heading">Task To Be Completed On a Weekly Basis</label>
                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">These are the tasks you should complete with every "Seller Client" from the moment you get them as clients. Check the boxes of the tasks you will complete.</label>
                            </v-flex>
                            <v-flex xs12 mt-4>
                                <v-layout row wrap>
                                    <v-flex mb-3 md6>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">COMMONLY ONE TIME</label>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row green-item">
                                                <input id="green-1" type="checkbox" name="lowertask[0][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="green-1"><strong class="checkbox-property">Create and clean current database answer</strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row green-item">
                                                <input id="green-2" type="checkbox" name="lowertask[1][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="green-2"><strong class="checkbox-property">Answer top 50 questions to add to SPI List</strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row green-item">
                                                <input id="green-3" type="checkbox" name="lowertask[2][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="green-3"><strong class="checkbox-property">Search all old clients and add to database</strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row green-item">
                                                <input id="green-4" type="checkbox" name="lowertask[3][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="green-4"><strong class="checkbox-property">Pick out scripts needed from GREL to add value</strong></label>
                                            </div>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex mb-3 md6>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">HIGH TASKS</label>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row red-item">
                                                <input id="red-1" type="checkbox" name="hightask[0][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="red-1"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row red-item">
                                                <input id="red-2" type="checkbox" name="hightask[1][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="red-2"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row red-item">
                                                <input id="red-3" type="checkbox" name="hightask[2][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="red-3"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row red-item">
                                                <input id="red-4" type="checkbox" name="hightask[3][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="red-4"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex mb-3 md6>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">MEDIUM TASKS</label>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row yellow-item">
                                                <input id="yellow-1" type="checkbox" name="mediumtask[0][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="yellow-1"><strong class="checkbox-property">Create and clean current database answer</strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row yellow-item">
                                                <input id="yellow-2" type="checkbox" name="mediumtask[1][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="yellow-2"><strong class="checkbox-property">Create and clean current database answer</strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row yellow-item">
                                                <input id="yellow-3" type="checkbox" name="mediumtask[2][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="yellow-3"><strong class="checkbox-property">Create and clean current database answer</strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row yellow-item">
                                                <input id="yellow-4" type="checkbox" name="mediumtask[3][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="yellow-4"><strong class="checkbox-property">Create and clean current database answer</strong></label>
                                            </div>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex mb-3 md6>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">LOW TASKS</label>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row blue-item">
                                                <input id="blue-1" type="checkbox" name="lowtask[0][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="blue-1"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row blue-item">
                                                <input id="blue-2" type="checkbox" name="lowtask[1][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="blue-2"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row blue-item">
                                                <input id="blue-3" type="checkbox" name="lowtask[2][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="blue-3"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                        <v-card-text class="checkbox-body pa-0">
                                            <div class="checkbox-row blue-item">
                                                <input id="blue-4" type="checkbox" name="lowtask[3][]" value="0">
                                                <svg class="tick" x="0px" y="0px" viewBox="0 0 305.5 308.8">
                                                    <circle class="tick-circle" cx="152.8" cy="154.4" r="146.9"></circle>
                                                    <path class="tick-line" d="M90,150 l25,40 l95,-70"></path>
                                                </svg>
                                                <label for="blue-4"><strong class="checkbox-property">Call _________ SPI List. Add value then ask for referrals</strong><strong class="checkbox-value redTextVal1">10 </strong></label>
                                            </div>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs4 my-3 class="text-xs-left">
                                <label class="mb-2 font-weight-medium fields-head-label">Where will you do the selected tasks?</label>
                                <v-text-field
                                        label=""
                                        placeholder="Enter Place"
                                        solo
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 class="text-xs-left">
                                <label class="text-xs-left headline mb-2 fields-heading">Block Your Timings For The Above Tasks</label>
                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Any sub heading goes here if any sub heading if any sub heading</label>
                                <v-layout row wrap class="text-xs-center mt-4">
                                    <v-flex sm3 pa-0>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">Tasks</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">Block 1</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">Block 2</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total Time</label>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex sm3 pa-0>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">Start Time</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-dialog
                                                    ref="dialog"
                                                    v-model="modal2"
                                                    :return-value.sync="time"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select Time"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal2"
                                                        v-model="time"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog.save(time)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-dialog
                                                    ref="dialog1"
                                                    v-model="modal3"
                                                    :return-value.sync="time1"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time1"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select Time"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal3"
                                                        v-model="time1"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal3 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog1.save(time1)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    value="Calculation Goes Here"
                                                    label="Solo"
                                                    solo
                                                    readonly
                                                    flat
                                                    hide-details
                                                    class="time-selector"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex sm3 pa-0>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">End Time</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-dialog
                                                    ref="dialog2"
                                                    v-model="modal4"
                                                    :return-value.sync="time2"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time2"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select Time"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal4"
                                                        v-model="time2"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal4 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog2.save(time2)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-dialog
                                                    ref="dialog3"
                                                    v-model="modal5"
                                                    :return-value.sync="time3"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time3"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select Time"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal5"
                                                        v-model="time3"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal5 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog3.save(time3)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    value="Calculation Goes Here"
                                                    label="Solo"
                                                    solo
                                                    readonly
                                                    flat
                                                    hide-details
                                                    class="time-selector"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex sm3 pa-0>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total In Min</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    value="Calculation Goes Here"
                                                    label="Solo"
                                                    solo
                                                    readonly
                                                    flat
                                                    hide-details
                                                    class="time-selector"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    value="Calculation Goes Here"
                                                    label="Solo"
                                                    solo
                                                    readonly
                                                    flat
                                                    hide-details
                                                    class="time-selector"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    value="Calculation Goes Here"
                                                    label="Solo"
                                                    solo
                                                    readonly
                                                    flat
                                                    hide-details
                                                    class="time-selector"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex xs12>
                                        <label class="mb-0 mt-4 text-xs-left d-block font-weight-medium fields-head-label">With the amount of time and tasks allocated you will be able to do <span class="primary--text font-weight-bold">20%</span> deals a year from this effort.</label>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mx-auto py-4 border-bottom border-top" style="max-width: 1200px;">
                            <v-flex xs12 class="text-xs-left mb-3">
                                <label class="text-xs-left headline my-2 fields-heading">WORKOUT SCRIPTS</label>
                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Refer to your backend of GREL to practice scripts related to this section to help you master this and close more deals. There are hundreds of scripts combined with our technology to help you practice and make you great. All SCRIPTS are available to members and some are available to Free Trial members.</label>
                            </v-flex>
                            <v-flex xs12 class="text-xs-left">
                                <label class="text-xs-left headline my-2 fields-heading">TOOLS</label>
                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Be sure to use Tools available to use in the market place. You can find them in the TOOLS section in your backend of GREL. All tools are available to GREL members. Free Trial members can try a few out.</label>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 990px;" py-5>
                            <v-flex xs12 mt-5>
                                <v-btn flat depressed round class="bussFace--text right ma-0 border FaceBorder font-weight-thin">
                                    Save & Continue
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-flex>


            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{
                time: null,
                modal2: false,
                time1: null,
                modal3: false,
                time2: null,
                modal4: false,
                time3: null,
                modal5: false
            }
        },
        beforeDestroy () {

        },
        mounted () {

        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>