<template>
    <div>
        <v-layout row wrap  v-if="!showDetailThread">
            <v-flex xs12 class="text-xs-center forum-header">
                <v-card flat>
                    <v-card-text class="pt-5 pb-4 px-0">
                        <h1 class="headline mb-3 formText--text">Welcome to GREL Community</h1>
                        <p class="font-weight-light mx-auto">Get support using and extending Flarum, the next-generation forum software that makes online discussion fun. New here? Please read the FAQ before posting.</p>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex sm3 px-5 py-4>
                <v-btn block flat round class="text-capitalize font-weight-light primary disc-cta" @click="showThreadBox=!showThreadBox">Start a Thread</v-btn>
                <v-list class="left-catg-listing">
                    <v-list-tile ripple
                                 v-for="(category,index) in categories" :key="index" avatar
                                 @click="selectCategory(category.id,index)"
                                 :class="{activeCategory : category.isSelected}">
                        <v-list-tile-avatar>
                            <img :src="category.icon">
                        </v-list-tile-avatar>
                        <v-list-tile-content :class="category.isSelected ? 'font-weight-medium' : 'font-weight-light'" class="formText--text">
                            <v-list-tile-title>{{category.name}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>

            </v-flex>
            <v-flex sm9 class="white" style="height:100vh">
                <v-layout row wrap>
                    <v-flex sm8 px-5 py-4>
                        <v-layout row wrap>
                            <v-flex sm3>
                                <v-select
                                        :items="historyItems"
                                        label="Period"
                                        solo
                                        flat
                                        class="periodSelector"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-list two-line subheader>
                                <v-list-tile v-for="(thread,index) in listedThreads" :key="index" avatar @click="detailThread(thread.threadId)">
                                    <v-list-tile-avatar>
                                        <img src="../../images/tk.png">
                                    </v-list-tile-avatar>

                                    <v-list-tile-content>
                                        <v-list-tile-title class="formText--text">{{ thread.threadTitle }}</v-list-tile-title>
                                        <v-list-tile-sub-title>
                                            <span v-for="(user,userIndex) in users" :key="userIndex" v-if="user.userId==thread.userId">{{user.userName}}</span>
                                            - started 2 hours ago {{ "Likes: "+getReactions(thread).likes+" Replies: "+ getReactions(thread).replies }}
                                        </v-list-tile-sub-title>
                                    </v-list-tile-content>

                                    <v-list-tile-action>
                                        <v-btn icon ripple>
                                            <v-icon color="grey lighten-1">info</v-icon>
                                        </v-btn>
                                    </v-list-tile-action>
                                </v-list-tile>
                            </v-list>
                        </v-layout>
                    </v-flex>
                    <v-flex sm3 mt-5 pt-4 pl-5 sm3 class="border-left activity-panel">
                        <h2>Your Activities</h2>
                        <v-list>
                            <v-list-tile avatar @click="">
                                <v-list-tile-action>
                                    <v-icon size="16" color="grey">message</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>All Threads</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile avatar @click="">
                                <v-list-tile-action>
                                    <v-icon size="16" color="grey">edit</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>My Question</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile avatar @click="">
                                <v-list-tile-action>
                                    <v-icon size="16" color="grey">layers</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>My Participation</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                </v-layout>
            </v-flex>
            <div class="bottom-window">
                <v-bottom-nav
                        :active.sync="activeBtn1"
                        :value="showThreadBox"
                        v-show="showThreadBox"
                        fixed
                >
                    <v-layout row wrap class="pa-3" style="position: relative">
                        <v-btn flat icon color="grey" class="close-reply-box ma-0 pa-2" @click="showThreadBox = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-flex sm1>
                            <v-list-tile-avatar size="65">
                                <img src="../../images/tk.png">
                            </v-list-tile-avatar>
                        </v-flex>
                        <v-flex sm11>
                            <v-list-tile-content>
                                <v-layout row wrap>
                                    <v-flex>
                                        <v-select
                                                v-model="currentCatgName"
                                                :items="categories"
                                                label="Select Category"
                                                item-text="name"
                                                item-value="id"
                                                multiple
                                                chips
                                                solo
                                                flat
                                                hide-details
                                                class="catgSelectionPart"
                                        ></v-select>
                                    </v-flex>
                                    <v-flex>
                                        <v-text-field
                                                placeholder="Thread Title"
                                                solo
                                                flat
                                                hide-details
                                                color="formText"
                                                class="threadTitleField"
                                                prepend-icon="reply"
                                                v-model="newThreadTitle"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-textarea
                                        solo
                                        name="input-7-4"
                                        label="Write a Post..."
                                        flat
                                        rows="3"
                                        style="width:100%"
                                        hide-details
                                        no-resize
                                        class="replyTextBox"
                                        v-model="threadMsgBox"
                                >
                                </v-textarea>
                            </v-list-tile-content>
                        </v-flex>
                        <v-flex xs12 class="border-top">
                            <v-btn class="primary right mt-3" flat @click="postNewThread">Post Thread</v-btn>
                        </v-flex>
                    </v-layout>
                </v-bottom-nav>
            </div>

        </v-layout>
        <v-layout v-else row wrap v-for="(listedThread,index) in threads" :key="index" v-show="listedThread.showThread">
            <v-flex xs12 class="text-xs-center forum-header">
                <v-card flat>
                    <v-card-text class="pt-5 pb-4 px-0">
                        <h1 class="headline formText--text">
                            <span class="d-inline-block mr-2 px-4 py-1 formText white--text" v-for="(catg,catgIndex) in listedThread.categories" :key="catgIndex">
                                <span v-for="(category,categoryIndex) in categories" :key="categoryIndex" v-if="category.id==catg">
                                    {{category.name}}
                                </span>
                            </span>
                        </h1>
                        <h2 class="font-weight-light headline my-4">{{listedThread.threadTitle}}</h2>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-container>
                <v-layout rwo wrap>
                    <v-flex xs12>
                        <v-btn @click="hideDetailThread(index)" class="grey lighten-2 pl-0 ma-0" flat>
                            <v-icon>chevron_left</v-icon>
                            Back
                        </v-btn>
                    </v-flex>
                    <v-flex sm8 offset-sm2>
                        <v-layout row wrap class="actualPostSection border-bottom mb-5 pb-4">
                            <v-flex sm10>
                                <v-list-tile class="only-main-post">
                                    <v-list-tile-avatar size="95">
                                        <img src="../../images/tk.png">
                                    </v-list-tile-avatar>

                                    <v-list-tile-content>
                                        <v-list-tile-title>
                                            <span v-for="(user,userIndex) in users" :key="userIndex" v-if="user.userId==listedThread.userId">{{user.userName}}</span>
                                        </v-list-tile-title>
                                        <v-list-tile-sub-title>{{listedThread.threadMsg}}</v-list-tile-sub-title>
                                        <div class="pt-2 user-listed-reactions">
                                            <v-icon v-if="getReactions(listedThread).likes > 0">thumb_up</v-icon>
                                            <span v-for="(likes,likeIndex) in listedThread.reactions.like" :key="likeIndex" v-if="likes.likeFlag">
                                                 <span v-for="(user,userIndex) in users" :key="userIndex" v-if="user.userId== likes.userId">{{user.userName}} </span>
                                                <span v-if="getReactions(listedThread).likes > 1">,</span>
                                            </span>
                                            <span  v-if="getReactions(listedThread).likes > 0">likes this.</span>
                                        </div>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </v-flex>
                            <v-flex sm2 class="threadDetailPortion bottom-window">
                                <v-btn v-if="ifUserLiked(listedThread.reactions.like,7)" small flat depressed primary class="right ma-0 mb-4 grey--text text--darken-1 text-capitalize" @click="unlikeCurrentThread(index)">
                                    <v-icon class="d-block">sentiment_very_dissatisfied</v-icon>
                                    Unlike
                                </v-btn>
                                <v-btn v-else small flat depressed primary class="right ma-0 mb-4 grey--text text--darken-1 text-capitalize" @click="likeCurrentThread(index,listedThread.reactions.like,7)">
                                    <v-icon class="d-block">favorite</v-icon>
                                    Like
                                </v-btn>
                                <v-btn small flat depressed primary class="right ma-0 grey--text text--darken-1 text-capitalize"  @click="showReplyBox = !showReplyBox">
                                    <v-icon class="d-block">sms</v-icon>
                                    Reply
                                </v-btn>
                                <v-bottom-nav
                                        :active.sync="activeBtn"
                                        :value="showReplyBox"
                                        v-show="showReplyBox"
                                        fixed
                                >
                                    <v-layout row wrap class="pa-3" style="position: relative">
                                        <v-btn flat icon color="grey" class="close-reply-box ma-0 pa-2" @click="showReplyBox=false">
                                            <v-icon>close</v-icon>
                                        </v-btn>
                                        <v-flex sm1>
                                            <v-list-tile-avatar size="65">
                                                <img src="../../images/tk.png">
                                            </v-list-tile-avatar>
                                        </v-flex>
                                        <v-flex sm11>
                                            <v-list-tile-content>
                                                <v-list-tile-title style="font-weight: 300;color: #576b7d;"><v-icon>reply</v-icon> {{listedThread.threadTitle}}</v-list-tile-title>
                                                <v-textarea
                                                        solo
                                                        name="input-7-4"
                                                        label="Write a Reply..."
                                                        flat
                                                        rows="3"
                                                        style="width:100%"
                                                        hide-details
                                                        no-resize
                                                        class="replyTextBox"
                                                        v-model="replyMsgBox"
                                                >
                                                </v-textarea>
                                            </v-list-tile-content>
                                        </v-flex>
                                        <v-flex xs12 class="border-top">
                                            <v-btn class="primary right mt-3" flat @click="replyCurrentThread(index)">Post Reply</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-bottom-nav>
                            </v-flex>
                        </v-layout>
                         <v-layout row wrap v-for="(replies,replyIndex) in listedThread.reactions.replies" :key="replyIndex" class="mb-4 flex sm11 px-4">
                             <v-flex sm10>
                                 <v-list-tile class="only-main-post">
                                     <v-list-tile-avatar size="70">
                                         <img src="../../images/tk.png">
                                     </v-list-tile-avatar>

                                     <v-list-tile-content>
                                         <v-list-tile-title>
                                             <span v-for="(user,userIndex) in users" :key="userIndex" v-if="user.userId== replies.userId">{{user.userName}} </span>
                                         </v-list-tile-title>
                                         <v-list-tile-sub-title>{{replies.msg}}</v-list-tile-sub-title>
                                         <div class="pt-2 user-listed-reactions">
                                             <v-icon>thumb_up</v-icon>
                                             <span v-for="(replyLike,likeIndex) in replies.replyLikes" :key="likeIndex" v-if="replyLike.likeFlag">
                                                  <span v-for="(user,userIndex) in users" :key="userIndex" v-if="user.userId== replyLike.userId">{{user.userName}} </span>
                                                 <span v-if="getReplyLikes(replies).likes > 1">,</span>
                                            </span>
                                             <span v-if="getReplyLikes(replies).likes > 0">likes this.</span>
                                         </div>
                                     </v-list-tile-content>
                                 </v-list-tile>
                             </v-flex>
                             <v-flex sm2 class="threadDetailPortion">
                                 <v-btn v-if="ifUserLiked(replies.replyLikes,7)" small flat depressed primary class="right ma-0 mb-2 grey--text text--darken-1 text-capitalize" @click="unlikeListedMsg(index,replyIndex)">
                                     <v-icon class="d-block">sentiment_very_dissatisfied</v-icon>
                                     Unlike
                                 </v-btn>
                                 <v-btn v-else small flat depressed primary class="right ma-0 mb-2 grey--text text--darken-1 text-capitalize" @click="likeListedMsg(index,replyIndex,replies.replyLikes,7)">
                                     <v-icon class="d-block">favorite</v-icon>
                                     Like
                                 </v-btn>
                                 <v-btn small flat depressed primary class="right ma-0 mb-4 grey--text text--darken-1 text-capitalize" @click="showReplyBox = !showReplyBox">
                                     <v-icon class="d-block">sms</v-icon>
                                     Reply
                                 </v-btn>
                             </v-flex>
                         </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-layout>
        <v-snackbar
                v-model="snackbar"
        >
            Reply posted successfully !!
            <v-btn
                    dark
                    flat
                    @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
        <v-snackbar
                v-model="snackbar1"
        >
            Thread posted successfully !!
            <v-btn
                    dark
                    flat
                    @click="snackbar1 = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </div>
</template>
<style>
    .container.fill-height{padding:0}
</style>
<script>
    import ForumUsers from '../config/users.json';
    import ForumCategories from '../config/categories.json';
    import ThreadsListing from '../config/threads.json';

    export default {
        data() {
            return {
                users: ForumUsers.users,
                categories: ForumCategories.categories,
                threads: ThreadsListing.threads,
                categoryId: 1,
                isLikeFlag:false,
                historyItems:['Latest','Top','Newest','Oldest'],
                showDetailThread:false,
                showReplyBox:false,
                activeBtn: 1,
                activeBtn1: 1,
                replyMsgBox:'',
                threadMsgBox:'',
                showThreadBox:false,
                snackbar:false,
                snackbar1:false,
                likeLastIndex:'',
                commentsLike:[],
                msgLikeFlag:false,
                currentCatgName:[],
                newThreadTitle:'',
                getCatgId:[],
                catgIds:[]
            }
        },
        methods: {

            hideDetailThread:function(index){
                this.showDetailThread=false;
                this.threads[index].showThread =false;
            },
            ifUserLiked:function(findArray,userId){
                return _.find(findArray, { 'userId': userId, 'likeFlag': true });
            },
            // checkCategories:function(){
            //
            // },
            postNewThread:function(){
              this.threads.push({
                  threadId:4,
                  userId:7,
                  threadTitle:this.newThreadTitle,
                  threadMsg:this.threadMsgBox,
                  showThread:false,
                  categories:this.currentCatgName,
                  reactions:{
                      like:[],
                      replies: [{
                          replyLikes:[]
                      }]
                  }
              });
              this.showThreadBox = false;
              this.snackbar1=true;
                // console.log(this.threads);

            },
            selectCategory: function (catgId, index) {
                for (var i = 0; i < this.categories.length; i++) {
                    this.categories[i].isSelected = false;
                }
                this.categories[index].isSelected = true;
                 // this.currentCatgName= [this.categories[index].name];
                this.categoryId = (catgId);
                var self = this;
                var arr = [];
                for (var i = 0; i < this.threads.length; i++) {
                    if (window.$.inArray(self.categoryId, this.threads[i]["categories"]) != -1) {
                        arr.push(this.threads[i]);
                    }else{}
                }
                return arr;
            },
            getReactions: function (thread) {
                var myReactions = {};
                myReactions.likes = _.size(_.filter(thread.reactions.like, 'likeFlag'));
                myReactions.replies = _.size(thread.reactions.replies);
                return myReactions;
            },
            getReplyLikes: function (replies) {
                var myReactions = {};
                myReactions.likes = _.size(_.filter(replies.replyLikes, 'likeFlag')) ;
                return myReactions;
            },
            detailThread: function (id) {
                for (var i=0; i<this.threads.length; i++){
                    this.threads[i].showThread = false;
                    if(this.threads[i].threadId == id){
                        this.threads[i].showThread = true;
                    }else{}
                }
                this.showDetailThread = true;
            },

            likeCurrentThread: function (threadIndex,findArray,userId) {
                this.threads[threadIndex].reactions["like"].push({
                    userId:7,
                    likeFlag:true
                });
                this.isLikeFlag = true;
                 this.ifUserLiked(findArray,userId);
            },
            unlikeCurrentThread: function (threadIndex) {
                this.threads[threadIndex].reactions["like"].pop();
                this.isLikeFlag=false;
            },
            replyCurrentThread: function (threadIndex) {
                this.threads[threadIndex].reactions["replies"].push({
                    userId:7,
                    msg:this.replyMsgBox,
                    isMention:false,
                    mentionedUserId:[],
                    replyLikes:[]
                });
                this.showReplyBox=false;
                this.snackbar= true;
                this.replyMsgBox='';
                //console.info(this.threads[threadIndex].reactions["replies"]);
            },
            likeListedMsg: function (threadIndex,replyIndex,findArray,userId) {
                this.threads[threadIndex].reactions["replies"][replyIndex].replyLikes.push({
                    userId:7,
                    likeFlag:true
                });
                this.ifUserLiked(findArray,userId);

            },
            unlikeListedMsg:function (threadIndex,replyIndex) {
                this.threads[threadIndex].reactions["replies"][replyIndex].replyLikes.pop();
                // _.pullAt(this.commentsLike,this.likeLastIndex);
                // console.log(this.commentsLike);
                // console.log(this.likeLastIndex);
                // this.msgLikeFlag=false
            }
        },
        computed: {
            listedThreads: function () {
                var self = this;
                var arr = [];
                for (var i = 0; i < this.threads.length; i++) {
                    if (window.$.inArray(self.categoryId, this.threads[i]["categories"]) != -1) {
                        arr.push(this.threads[i]);
                    }else{}
                }
                return arr;
            }

        },
        mounted: function () {
        }
    }
</script>