<template>
    <div>
        <v-layout row wrap class="bussHealth py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">GREAT HEALTH</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center class="px-0">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-form>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;">
                            <v-flex xs12>
                                <v-card-text class="bussHealth--text font-weight-medium mx-auto page-info-text">If we didn’t care about you, we would have taken this section out. Take this section seriously! We don't want you to make a lot of money and die of a heart attack.</v-card-text>
                                <v-card-text class="text-xs-left font-weight-medium mx-auto page-info-text">! Let today be the day when you stop cheating yourself and start planning/working on your health. This would do you good for your living decades.</v-card-text>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;" pb-5>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">List 3 foods you will eliminate from your life.</label>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex md4>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 1</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md4>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 2</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md4>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 3</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-3">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">List 8 foods you will introduce or eat more of:</label>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 1</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 2</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 3</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 4</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 5</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 6</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 7</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex md3>
                                        <label class="text-uppercase text-xs-left font-weight-bold fields-label">Food 8</label>
                                        <v-text-field
                                                label=""
                                                solo
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-3">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">How many glasses of water will you drink in a day?</label>
                            </v-flex>
                            <v-flex xs12>
                                <v-radio-group v-model="row" class="mt-0" hide-details>
                                    <v-layout row wrap class="remove-label-margin">
                                        <v-flex lg1>
                                            <v-radio color="primary" label="3" value="radio-1"></v-radio>
                                        </v-flex>
                                        <v-flex lg1>
                                            <v-radio color="primary" label="6" value="radio-2"></v-radio>
                                        </v-flex>
                                        <v-flex lg1>
                                            <v-radio color="primary" label="9" value="radio-3"></v-radio>
                                        </v-flex>
                                        <v-flex lg1>
                                            <v-radio color="primary" label="12" value="radio-4"></v-radio>
                                        </v-flex>
                                    </v-layout>
                                </v-radio-group>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-3">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">From the list below, click on 3 exercises methods you will do.</label>
                            </v-flex>
                            <v-flex xs12>
                                    <v-layout row wrap class="remove-label-margin">
                                        <v-flex lg2>
                                            <v-checkbox
                                                    label="Running"
                                                    class="mt-0"
                                                    color="primary"
                                                    hide-details
                                            ></v-checkbox>
                                        </v-flex>
                                        <v-flex lg2>
                                            <v-checkbox
                                                    label="Walking"
                                                    class="mt-0"
                                                    color="primary"
                                                    hide-details
                                            ></v-checkbox>
                                        </v-flex>
                                        <v-flex lg2>
                                            <v-checkbox
                                                    label="Swimming"
                                                    class="mt-0"
                                                    color="primary"
                                                    hide-details
                                            ></v-checkbox>
                                        </v-flex>
                                        <v-flex lg2>
                                            <v-checkbox
                                                    label="Yoga"
                                                    class="mt-0"
                                                    color="primary"
                                                    hide-details
                                            ></v-checkbox>
                                        </v-flex>
                                        <v-flex lg2>
                                            <v-checkbox
                                                    label="Weights"
                                                    class="mt-0"
                                                    color="primary"
                                                    hide-details
                                            ></v-checkbox>
                                        </v-flex>
                                        <v-flex lg2>
                                            <v-checkbox
                                                    label="Pilates"
                                                    class="mt-0"
                                                    color="primary"
                                                    hide-details
                                            ></v-checkbox>
                                        </v-flex>
                                        <v-flex lg2>
                                            <v-checkbox
                                                    label="Cycling"
                                                    class="mt-0"
                                                    color="primary"
                                                    hide-details
                                            ></v-checkbox>
                                        </v-flex>
                                    </v-layout>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-3">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">What sports you would like to do from the following?</label>
                            </v-flex>
                            <v-flex xs12>
                                <v-radio-group v-model="sportsType" class="mt-0" hide-details>
                                    <v-layout row wrap class="remove-label-margin">
                                        <v-flex xs12>
                                            <v-radio color="primary" label="Soccer" value="Soccer"></v-radio>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-radio color="primary" label="Other" value="Other"></v-radio>
                                            <v-textarea
                                                    v-if="sportsType=='Other'"
                                                    solo
                                                    name="otherSports"
                                                    label="Type here"
                                                    value=""
                                                    no-resize
                                            ></v-textarea>
                                        </v-flex>
                                    </v-layout>
                                </v-radio-group>
                            </v-flex>


                            <v-flex xs12 class="text-xs-left pt-3">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">What days will you do what exercise?</label>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap class="text-xs-center mt-2">
                                    <v-flex lg1 pa-0 class="hidden-md-and-down">
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 font-weight-medium fields-head-label">Days</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <label class="mb-0 font-weight-medium fields-head-label">Time</label>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg1 pa-0>
                                        <v-card-text class="grey lighten-3 px-0">
                                            <label class="mb-0 font-weight-medium fields-head-label">Monday</label>
                                        </v-card-text>
                                        <v-card-text class="border px-0">
                                            <v-dialog
                                                    ref="dialog"
                                                    v-model="modal2"
                                                    :return-value.sync="time"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal2"
                                                        v-model="time"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog.save(time)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg1 pa-0>
                                        <v-card-text class="grey lighten-3 px-0">
                                            <label class="mb-0 font-weight-medium fields-head-label">Tuesday</label>
                                        </v-card-text>
                                        <v-card-text class="border px-0">
                                            <v-dialog
                                                    ref="dialog1"
                                                    v-model="modal4"
                                                    :return-value.sync="time2"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time2"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal4"
                                                        v-model="time2"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal4 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog1.save(time2)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg1 pa-0>
                                        <v-card-text class="grey lighten-3 px-0">
                                            <label class="mb-0 font-weight-medium fields-head-label">Wednesday</label>
                                        </v-card-text>
                                        <v-card-text class="border px-0">
                                            <v-dialog
                                                    ref="dialog2"
                                                    v-model="modal5"
                                                    :return-value.sync="time3"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time3"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal5"
                                                        v-model="time3"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal5 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog2.save(time3)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg1 pa-0>
                                        <v-card-text class="grey lighten-3 px-0">
                                            <label class="mb-0 font-weight-medium fields-head-label">Thursday</label>
                                        </v-card-text>
                                        <v-card-text class="border px-0">
                                            <v-dialog
                                                    ref="dialog3"
                                                    v-model="modal6"
                                                    :return-value.sync="time4"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time4"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal6"
                                                        v-model="time4"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal6 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog3.save(time4)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg1 pa-0>
                                        <v-card-text class="grey lighten-3 px-0">
                                            <label class="mb-0 font-weight-medium fields-head-label">Friday</label>
                                        </v-card-text>
                                        <v-card-text class="border px-0">
                                            <v-dialog
                                                    ref="dialog4"
                                                    v-model="modal7"
                                                    :return-value.sync="time5"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time5"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal7"
                                                        v-model="time5"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal7 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog4.save(time5)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg1 pa-0>
                                        <v-card-text class="grey lighten-3 px-0">
                                            <label class="mb-0 font-weight-medium fields-head-label">Saturday</label>
                                        </v-card-text>
                                        <v-card-text class="border px-0">
                                            <v-dialog
                                                    ref="dialog5"
                                                    v-model="modal8"
                                                    :return-value.sync="time6"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time6"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal8"
                                                        v-model="time6"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal8 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog5.save(time6)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg1 pa-0>
                                        <v-card-text class="grey lighten-3 px-0">
                                            <label class="mb-0 font-weight-medium fields-head-label">Sunday</label>
                                        </v-card-text>
                                        <v-card-text class="border px-0">
                                            <v-dialog
                                                    ref="dialog6"
                                                    v-model="modal3"
                                                    :return-value.sync="time1"
                                                    persistent
                                                    lazy
                                                    full-width
                                                    width="290px"
                                            >
                                                <v-text-field
                                                        slot="activator"
                                                        v-model="time1"
                                                        readonly
                                                        hide-details
                                                        solo
                                                        flat
                                                        placeholder="Select"
                                                        class="time-selector"
                                                ></v-text-field>
                                                <v-time-picker
                                                        v-if="modal3"
                                                        v-model="time1"
                                                        full-width
                                                >
                                                    <v-spacer></v-spacer>
                                                    <v-btn flat color="primary" @click="modal3 = false">Cancel</v-btn>
                                                    <v-btn flat color="primary" @click="$refs.dialog6.save(time1)">OK</v-btn>
                                                </v-time-picker>
                                            </v-dialog>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">Set your sleep routine for a good sleep. Work with the motive of "Early to bed, early to rise. Makes a man healthy, wealthy and wise".</label>
                            </v-flex>
                            <v-flex xs12 mt-2>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md11 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">What time will you start sleeping?</label>
                                            </v-flex>
                                            <v-flex md1 class="">
                                                <v-dialog
                                                        ref="dialog10"
                                                        v-model="modal10"
                                                        :return-value.sync="time10"
                                                        persistent
                                                        lazy
                                                        full-width
                                                        width="290px"
                                                >
                                                    <v-text-field
                                                            slot="activator"
                                                            v-model="time10"
                                                            readonly
                                                            hide-details
                                                            solo
                                                            flat
                                                            placeholder="Select"
                                                            class="time-selector"
                                                    ></v-text-field>
                                                    <v-time-picker
                                                            v-if="modal10"
                                                            v-model="time10"
                                                            full-width
                                                    >
                                                        <v-spacer></v-spacer>
                                                        <v-btn flat color="primary" @click="modal10 = false">Cancel</v-btn>
                                                        <v-btn flat color="primary" @click="$refs.dialog10.save(time10)">OK</v-btn>
                                                    </v-time-picker>
                                                </v-dialog>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md11 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">What time will you wake up?</label>
                                            </v-flex>
                                            <v-flex md1 class="">
                                                <v-dialog
                                                        ref="dialog11"
                                                        v-model="modal11"
                                                        :return-value.sync="time11"
                                                        persistent
                                                        lazy
                                                        full-width
                                                        width="290px"
                                                >
                                                    <v-text-field
                                                            slot="activator"
                                                            v-model="time11"
                                                            readonly
                                                            hide-details
                                                            solo
                                                            flat
                                                            placeholder="Select"
                                                            class="time-selector"
                                                    ></v-text-field>
                                                    <v-time-picker
                                                            v-if="modal11"
                                                            v-model="time11"
                                                            full-width
                                                    >
                                                        <v-spacer></v-spacer>
                                                        <v-btn flat color="primary" @click="modal11 = false">Cancel</v-btn>
                                                        <v-btn flat color="primary" @click="$refs.dialog11.save(time11)">OK</v-btn>
                                                    </v-time-picker>
                                                </v-dialog>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md9 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Set a definite nap time. My nap time is ______ hrs.</label>
                                            </v-flex>
                                            <v-flex md3 class="">
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Hours"
                                                        solo
                                                        hide-details
                                                        append-icon="access_time"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md10 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total number of hours</label>
                                            </v-flex>
                                            <v-flex md2 class="">
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>


                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left headline my-2 fields-heading font-weight-light">
                                    Now comes setting activity hours before you sleep.</label>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">I’ll stop having caffeine</label>
                                    </v-flex>
                                    <v-flex sm1>
                                        <v-text-field
                                                solo
                                                hide-details
                                                append-icon="hrs"
                                                class="hide-append-icon"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">before sleep</label>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">I’ll stop drinking alcohol</label>
                                    </v-flex>
                                    <v-flex sm1>
                                        <v-text-field
                                                solo
                                                hide-details
                                                append-icon="hrs"
                                                class="hide-append-icon"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">before sleep</label>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex sm3 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">I’ll stop using any electronic devices</label>
                                    </v-flex>
                                    <v-flex sm1>
                                        <v-text-field
                                                solo
                                                hide-details
                                                append-icon="hrs"
                                                class="hide-append-icon"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">before sleep</label>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">I’ll stop working</label>
                                    </v-flex>
                                    <v-flex sm1>
                                        <v-text-field
                                                solo
                                                hide-details
                                                append-icon="hrs"
                                                class="hide-append-icon"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">before sleep</label>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">I’ll eat dinner</label>
                                    </v-flex>
                                    <v-flex sm1>
                                        <v-text-field
                                                solo
                                                hide-details
                                                append-icon="hrs"
                                                class="hide-append-icon"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex sm2 class="align-center d-flex text-xs-left">
                                        <label class="mb-0 pl-2 font-weight-medium fields-head-label">before sleep</label>
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                        </v-layout>



                        <v-layout row wrap class="mx-auto" style="max-width: 990px;" py-5>
                            <v-flex xs12 mt-5>
                                <v-btn flat depressed round class="bussHealth--text right ma-0 border healthBorder font-weight-thin">
                                    Save & Continue
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-flex>


            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{
                valueMotivation:48,
                valueBussHealth:47,
                valueHealth:58,
                valueRelation:44,
                row: null,
                sportsType:'Soccer',
                time: null,
                modal2: false,
                time1: null,
                modal3: false,
                time2: null,
                modal4: false,
                time3: null,
                modal5: false,
                time4: null,
                modal6: false,
                time5: null,
                modal7: false,
                time6: null,
                modal8: false,
                time10: null,
                modal10: false,
                time11: null,
                modal11: false,
            }
        },
        beforeDestroy () {

        },
        mounted () {

        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>