<template>
    <div>
        <v-layout row wrap class="bussPractical py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">PRACTICAL SUMMARY</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center class="px-0">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-form>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;">
                            <v-flex xs12>
                                <v-card-text class="bussPractical--text font-weight-medium mx-auto page-info-text">Here is a quick review of the first 5 pages.</v-card-text>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;" pb-5>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left headline my-2 fields-heading">ASSESSMENT</label>
                                <label class="mb-0 font-weight-medium fields-head-label">Any Sub heading goes here if any.</label>
                            </v-flex>

                            <v-flex xs12 mt-2>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md6 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Your motivation</label>
                                            </v-flex>
                                            <v-flex sm6>
                                                <v-layout row wrap>
                                                    <v-flex sm9>
                                                        <v-progress-linear color="success" v-model="valueMotivation" height="8"></v-progress-linear>
                                                    </v-flex>
                                                    <v-flex sm3 class="text-xs-right pt-2">
                                                        {{valueMotivation}}/100
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md6 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Your real estate business health is</label>
                                            </v-flex>
                                            <v-flex sm6>
                                                <v-layout row wrap>
                                                    <v-flex sm9>
                                                        <v-progress-linear v-model="valueBussHealth" height="8"></v-progress-linear>
                                                    </v-flex>
                                                    <v-flex sm3 class="text-xs-right pt-2">
                                                        {{valueBussHealth}}/100
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md6 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Your health is</label>
                                            </v-flex>
                                            <v-flex sm6>
                                                <v-layout row wrap>
                                                    <v-flex sm9>
                                                        <v-progress-linear color="success" v-model="valueHealth" height="8"></v-progress-linear>
                                                    </v-flex>
                                                    <v-flex sm3 class="text-xs-right pt-2">
                                                        {{valueHealth}}/100
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md6 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Your relationship fundamentals</label>
                                            </v-flex>
                                            <v-flex sm6>
                                                <v-layout row wrap>
                                                    <v-flex sm9>
                                                        <v-progress-linear v-model="valueRelation" height="8"></v-progress-linear>
                                                    </v-flex>
                                                    <v-flex sm3 class="text-xs-right pt-2">
                                                        {{valueRelation}}/100
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Gross amount you would like to earn</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="10"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total deals needed in 12 months</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left headline my-2 fields-heading">IF YOU IMPROVE YOUR SKILLS BY 20%</label>
                                <label class="mb-0 font-weight-medium fields-head-label">Any Sub heading goes here if any.</label>
                            </v-flex>

                            <v-flex xs12 mt-2>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total deals needed in 12 months</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total daily prospects needed</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total yearly prospects</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left headline my-2 fields-heading">WHERE WILL YOU GET YOUR DEALS FROM</label>
                                <label class="mb-0 font-weight-medium fields-head-label">Any Sub heading goes here if any.</label>
                            </v-flex>

                            <v-flex xs12 mt-2>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">REFERRAL + SPI ACCOUNTS FOR</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="50"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">YOUR STOREFRONT (LISTINGS)</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">FACE TO FACE ACTIVITIES</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">FSBO/EXPIREDS</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">ADVERTISING</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">ONLINE</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <v-layout row wrap>
                                    <v-flex sm11>
                                        <label class="text-xs-left headline my-2 fields-heading">MY TOTAL DEALS DONE</label>
                                        <label class="mb-0 font-weight-medium fields-head-label">Any Sub heading goes here if any.</label>
                                    </v-flex>
                                    <v-flex sm1 pr-4>
                                        <v-text-field
                                                solo
                                                hide-details
                                                value="0"
                                                flat
                                                readonly
                                                class="remove-white"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                            <v-flex xs12 mt-2>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">My Goal</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="50"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Extra Deals</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Deals Deficit</label>
                                            </v-flex>
                                            <v-flex sm4>
                                                <v-text-field
                                                        solo
                                                        hide-details
                                                        value="0"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>


                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 990px;" py-5>
                            <v-flex xs12 mt-5>
                                <v-btn flat depressed round class="bussPractical--text right ma-0 border practicalBorder font-weight-thin">
                                    Save & Continue
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-flex>


            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{
                valueMotivation:48,
                valueBussHealth:47,
                valueHealth:58,
                valueRelation:44
            }
        },
        beforeDestroy () {

        },
        mounted () {

        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>