<template>
    <div>
        <v-layout row wrap class="bussProspect py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">TRANSACTIONS + PROSPECTS</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center class="px-0">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-form>
                        <v-layout row wrap class="mx-auto" style="max-width: 990px;">
                            <v-flex xs12>
                                <v-card-text class="bussProspect--text font-weight-medium mx-auto page-info-text">Everything until now was very intangible. We are going to start making what you created before this page, into reality. Let's Crunch Some Numbers!</v-card-text>
                            </v-flex>
                            <v-flex xs12 mt-4>
                                <label class="text-xs-left font-weight-medium mb-2 fields-heading">Use Your Own Currency</label>
                                <v-layout row wrap>
                                    <v-flex sm4 d-flex align-center>
                                        <label class=" text-xs-left fields-head-label">How much do you want to earn in the next 12 months?</label>
                                    </v-flex>
                                    <v-flex sm4>
                                        <v-text-field
                                                label=""
                                                placeholder="Enter Amount"
                                                solo
                                                hide-details
                                                append-icon="attach_money"
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex sm4 d-flex align-center>
                                        <label class="text-xs-left fields-head-label pl-3"> This is your gross amount.</label>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12 mt-5>
                                <label class="text-xs-left font-weight-medium mb-4 fields-heading">Let’s calculate your future plans and return on investment. Answer the following:</label>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Average home price you sell</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Amount"
                                                        solo
                                                        hide-details
                                                        append-icon="attach_money"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Average commission you receive</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Percentage"
                                                        solo
                                                        hide-details
                                                        append-icon="attach_money"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">How many deals did you do in the last 12 months?</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Deals"
                                                        solo
                                                        hide-details
                                                        append-icon="timeline"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Your average commission is. (Commission/Transaction)</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        label=""
                                                        solo
                                                        hide-details
                                                        value="100"
                                                        flat
                                                        readonly
                                                        append-icon="transform"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="grey lighten-4" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total earnings last year</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        label=""
                                                        solo
                                                        hide-details
                                                        append-icon="attach_money"
                                                        value="1000"
                                                        flat
                                                        readonly
                                                        class="remove-white"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                                <v-card class="" flat>
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex md8 d-flex align-center class="text-xs-left">
                                                <label class="mb-0 pl-2 font-weight-medium fields-head-label">Your additional earnings in the next 12 months</label>
                                            </v-flex>
                                            <v-flex sm4 class="right-field-plan">
                                                <v-text-field
                                                        label=""
                                                        solo
                                                        hide-details
                                                        append-icon="attach_money"
                                                        value="5000"
                                                        flat
                                                        readonly
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex xs12 mt-4 class="border-bottom">
                                <label class="text-xs-left mb-4 fields-heading">You need a total of <span class="primary--text font-weight-bold">30</span> deals next year.</label>
                                <label class="text-xs-left mb-4 fields-heading">That would mean you need to do <span class="primary--text font-weight-bold">10</span> more deals next year compared to last year.</label>
                            </v-flex>
                            <v-flex xs12 mt-4 class="text-xs-left">
                                <label class="font-weight-medium mb-4 fields-heading">A Few ways to get to the Additional EARNINGS:</label>
                                <label class="fields-head-label">1. Rob a Bank (we are joking). DON’T do this.</label>
                                <label class="fields-head-label">2. Increase your average commission and fill your sales funnel with more leads and prospects to reach your target.</label>
                                <label class="font-weight-medium mt-3 fields-heading">GREL members, we will help you do that!</label>
                            </v-flex>

                        </v-layout>
                        <v-layout row wrap class="grey lighten-3 mt-5">
                            <v-layout row wrap class="mx-auto" style="max-width: 990px;" pb-5>
                                <v-flex xs12 class="text-xs-left pt-5">
                                    <label class="text-xs-left display-1 my-2 fields-heading">How many more prospects do I need?</label>
                                    <label class=" text-xs-left fields-head-label my-2">Based on our data you need <span class="primary--text font-weight-bold">22</span> prospects (leads) to make 1 deal.</label>
                                    <label class=" text-xs-left fields-head-label my-2">If your number is different and you are a better closer, change the first figure.</label>
                                </v-flex>

                                <v-flex xs12 mt-2>
                                    <v-card class="" flat>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex md8 d-flex align-center class="text-xs-left">
                                                    <label class="mb-0 pl-2 font-weight-medium fields-head-label">Prospects needed to close 1 deal</label>
                                                </v-flex>
                                                <v-flex sm4 class="right-field-plan">
                                                    <v-text-field
                                                            label=""
                                                            placeholder="Enter Figures"
                                                            solo
                                                            hide-details
                                                            append-icon="attach_money"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                    <v-card class="grey lighten-4" flat>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex md8 d-flex align-center class="text-xs-left">
                                                    <label class="mb-0 pl-2 font-weight-medium fields-head-label">Total number of deals needed to get to my new goal :)</label>
                                                </v-flex>
                                                <v-flex sm4 class="right-field-plan">
                                                    <v-text-field
                                                            solo
                                                            hide-details
                                                            value="10"
                                                            flat
                                                            readonly
                                                            class="remove-white"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                    <v-card class="" flat>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex md8 d-flex align-center class="text-xs-left">
                                                    <label class="mb-0 pl-2 font-weight-medium fields-head-label">Prospects/Year needed</label>
                                                </v-flex>
                                                <v-flex sm4 class="right-field-plan">
                                                    <v-text-field
                                                            solo
                                                            hide-details
                                                            value="0"
                                                            flat
                                                            readonly
                                                            class="remove-white"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                    <v-card class="grey lighten-4" flat>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex md8 d-flex align-center class="text-xs-left">
                                                    <label class="mb-0 pl-2 font-weight-medium fields-head-label">Prospects/Month needed. We use an 11 month calendar as you also need some time off</label>
                                                </v-flex>
                                                <v-flex sm4 class="right-field-plan">
                                                    <v-text-field
                                                            label=""
                                                            solo
                                                            hide-details
                                                            value="10"
                                                            flat
                                                            readonly
                                                            class="remove-white"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                    <v-card class="" flat>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex md8 d-flex align-center class="text-xs-left">
                                                    <label class="mb-0 pl-2 font-weight-medium fields-head-label">Number of days you work in a month</label>
                                                </v-flex>
                                                <v-flex sm4 class="right-field-plan">
                                                    <v-text-field
                                                            label=""
                                                            solo
                                                            placeholder="Enter Days"
                                                            hide-details
                                                            append-icon="attach_money"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                    <v-card class="grey lighten-4" flat>
                                        <v-card-text>
                                            <v-layout row wrap>
                                                <v-flex md8 d-flex align-center class="text-xs-left">
                                                    <label class="mb-0 pl-2 font-weight-medium fields-head-label">Prospects per day</label>
                                                </v-flex>
                                                <v-flex sm4 class="right-field-plan">
                                                    <v-text-field
                                                            solo
                                                            hide-details
                                                            value="10"
                                                            flat
                                                            readonly
                                                            class="remove-white"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>

                                <v-flex xs12 mt-4 class="text-xs-left">
                                    <label class="font-weight-medium mb-2 fields-heading">Ok Let’s analyze this!</label>
                                    <label class="fields-head-label d-block my-3">If you could improve your closing ratio per prospect by <span class="primary--text font-weight-bold">20</span>% you would need <span class="primary--text font-weight-bold">0</span> less Prospects/Year. This is called being more efficient.</label>
                                    <label class="fields-head-label d-block my-3">If you could improve the following three things: </label>
                                    <label class="fields-head-label d-block my-3">Increase your Home Selling Price by <span class="primary--text font-weight-bold">20%</span> </label>
                                    <label class="fields-head-label d-block my-3">Increase your Closing Ratio by <span class="primary--text font-weight-bold">20%</span> </label>
                                    <label class="fields-head-label d-block my-3">Increase your Average Commission by <span class="primary--text font-weight-bold">20%</span> </label>
                                    <label class="fields-head-label d-block my-3">You would need <span class="primary--text font-weight-bold">54</span> less Prospects/Year  </label>
                                </v-flex>
                            </v-layout>
                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 990px;" py-5>
                            <v-flex xs12>
                                <v-card-text class="mot-quotes-img px-0">
                                    <img src="../../images/motivational-img.png" style="width: 100%">
                                    <h4 class="font-italic font-weight-thin white--text text-xs-right">“Failing to plan is planning to fail.” <br><span class="right">~Alan Lakein</span></h4>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12 class="text-xs-left">
                                <label class="fields-head-label d-block my-3">This would all give you more time for family, fun, vacations, exercise and if you also want to challenge yourself, to make more money.</label>
                                <label class=" mb-2 fields-heading">DON’T WORRY WE ARE GOING TO SHOW YOU HOW TO GET <span class="primary--text font-weight-bold">10</span>/ DAY in the next steps.</label>
                            </v-flex>
                            <v-flex xs12 mt-5>
                                <v-btn flat depressed round class="bussProspect--text right ma-0 border prossBorder font-weight-thin">
                                    Save & Continue
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-flex>


            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{

            }
        },
        beforeDestroy () {

        },
        mounted () {

        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>