<template>
    <div>
        <v-layout row wrap class="bussRelation py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">RELATIONSHIP</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center class="px-0">
            <v-layout row wrap>
                <v-flex xs12>
                    <v-form>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;">
                            <v-flex xs12>
                                <v-card-text class="bussRelation--text font-weight-medium mx-auto page-info-text">Stop Waiting & Start Living! Make things happen, make relationships work for you.</v-card-text>
                                <v-card-text class="text-xs-left font-weight-medium mx-auto page-info-text">Here is the quick cheat sheet to a healthy life with healthy relationships.</v-card-text>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 1200px;" pb-5>

                            <v-flex xs12 class="text-xs-left pt-5">
                                <label class="text-xs-left display-1 mb-3 fields-heading font-weight-light">REFLECT! CREATE! ACT!</label>
                                <label class="mb-0 font-weight-medium fields-head-label">Let’s get started and show you the power of 5.</label>
                            </v-flex>

                            <v-flex xs12>
                                <v-layout row wrap>
                                    <v-flex md6>
                                        <label style="font-size: 16px" class="my-3 d-block text-xs-left font-weight-medium fields-head-label text-xs-left">List 5 things you love about yourself.</label>
                                        <label style="font-size: 16px" class="font-italic font-weight-light mb-4 mt-3 text-xs-left">When you love yourself, only then you are capable enough of loving others. Meaning, you are now capable of giving strength and compassion to other people.</label>

                                        <v-layout row wrap>
                                            <v-flex>
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Here"
                                                        solo
                                                        hide-details
                                                        append-icon="favorite_border"
                                                        class="mb-2"
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex>
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Here"
                                                        solo
                                                        hide-details
                                                        append-icon="favorite_border"
                                                        class="mb-2"
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex>
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Here"
                                                        solo
                                                        hide-details
                                                        append-icon="favorite_border"
                                                        class="mb-2"
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex>
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Here"
                                                        solo
                                                        hide-details
                                                        append-icon="favorite_border"
                                                        class="mb-2"
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex>
                                                <v-text-field
                                                        label=""
                                                        placeholder="Enter Here"
                                                        solo
                                                        hide-details
                                                        append-icon="favorite_border"
                                                        class="mb-2"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>

                                    </v-flex>
                                    <v-flex md6>
                                        <img src="../../images/self-love.png">
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                            <v-flex xs12 class="border-bottom border-top" my-5 py-4>
                                <label style="font-size: 16px" class="my-3 d-block text-xs-left font-weight-medium fields-head-label text-xs-left">5 min meditation game: Sit in dark, close your eyes, take a deep breath in, breath out with stomach in chest out. While doing it think of first 5 people that are important to you with the motive of setting goals.</label>
                                <label style="font-size: 16px" class="my-3 d-block text-xs-left font-weight-medium fields-head-label text-xs-left">After you do that pen down 5 short-term and 5 long-term relationship goals you want to achieve in a month and in year 2017, respectively.</label>
                                <label style="font-size: 16px" class="font-italic font-weight-light mb-4 mt-3 text-xs-left d-block">Straighten your relationships to straighten your life. Set goals and organize your social life.</label>
                            </v-flex>


                            <v-flex xs12 class="text-xs-left pt-3">
                                <label class="text-xs-left display-1 fields-heading font-weight-light">Short-term Relationship Goals</label>
                                <label class="mb-0 font-weight-medium fields-head-label">Any Sub heading goes here....</label>
                            </v-flex>

                            <v-flex xs12>
                                <v-layout row wrap class="text-xs-center mt-2 remove-details-bottom">
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 font-weight-medium fields-head-label">Name Person (kids, spouse, mom, dad, friends, co-workers, lovers)</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3 py-4">
                                            <label class="mb-0 font-weight-medium fields-head-label" style="padding-top: 6px;">1 Year Goals</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3 py-4">
                                            <label class="mb-0 font-weight-medium fields-head-label" style="padding-top: 6px;">3 Year Goals</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3 py-4">
                                            <label class="mb-0 font-weight-medium fields-head-label" style="padding-top: 6px;">10 Year Goals</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                            </v-flex>

                            <v-flex xs12 class="text-xs-left" mt-4 pt-5>
                                <label class="text-xs-left display-1 fields-heading font-weight-light">Long-term Relationship Goals</label>
                                <label class="mb-0 font-weight-medium fields-head-label">Any Sub heading goes here....</label>
                            </v-flex>

                            <v-flex xs12>
                                <v-layout row wrap class="text-xs-center mt-2 remove-details-bottom">
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3">
                                            <label class="mb-0 font-weight-medium fields-head-label">Name Person (kids, spouse, mom, dad, friends, co-workers, lovers)</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Name"
                                                    solo
                                                    hide-details
                                                    append-icon="person"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3 py-4">
                                            <label class="mb-0 font-weight-medium fields-head-label" style="padding-top: 6px;">1 Year Goals</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3 py-4">
                                            <label class="mb-0 font-weight-medium fields-head-label" style="padding-top: 6px;">3 Year Goals</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex lg3 pa-0>
                                        <v-card-text class="grey lighten-3 py-4">
                                            <label class="mb-0 font-weight-medium fields-head-label" style="padding-top: 6px;">10 Year Goals</label>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="border">
                                            <v-text-field
                                                    label=""
                                                    placeholder="Enter Here"
                                                    solo
                                                    hide-details
                                                    flat
                                                    class="remove-white text-center"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                            </v-flex>


                            <v-flex xs12 mt-5 pt-5>
                                <v-layout row wrap>
                                    <v-flex lg7>
                                        <label class="text-xs-left headline my-2 fields-heading font-weight-light">Pick 4 relationship traits you need to build/work into to root for happy connections.</label>
                                        <label class="d-block font-italic text-xs-left">Be objective. Because in every relationship what you put in, you get out.</label>
                                        <v-layout row wrap class="remove-label-margin" pt-4>
                                            <v-flex md6>
                                                <v-checkbox
                                                        label="Trust"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                                <v-checkbox
                                                        label="Communication"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                                <v-checkbox
                                                        label="Empathy"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                                <v-checkbox
                                                        label="Respect"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                                <v-checkbox
                                                        label="Loyalty"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                            </v-flex>
                                            <v-flex md6>
                                                <v-checkbox
                                                        label="Friendliness"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                                <v-checkbox
                                                        label="Intimacy"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                                <v-checkbox
                                                        label="Honesty"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                                <v-checkbox
                                                        label="Patience"
                                                        color="primary"
                                                        hide-details
                                                ></v-checkbox>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                    <v-flex lg5>
                                        <img src="../../images/realationship-traits.png">
                                    </v-flex>
                                </v-layout>
                            </v-flex>


                        </v-layout>
                        <v-layout row wrap class="mx-auto" style="max-width: 990px;" py-5>
                            <v-flex xs12 mt-5>
                                <v-btn flat depressed round class="bussRelation--text right ma-0 border relationBorder font-weight-thin">
                                    Save & Continue
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </v-flex>


            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{
                valueMotivation:48,
                valueBussHealth:47,
                valueHealth:58,
                valueRelation:44
            }
        },
        beforeDestroy () {

        },
        mounted () {

        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>