<template>
    <v-container grid-list-md>
        <v-layout row wrap>
            <v-flex xs12>
                <h2 class="feature-heading">{{Parenttools}} - Selling Scripts</h2>
            </v-flex>
            <v-flex xs12 class="listed-scripts">
                <v-expansion-panel>
                    <v-expansion-panel-content
                            v-for="(scripts,index) in toolsData[Parenttools]"
                            :key="index"
                    >
                        <div slot="header">{{scripts.title}}</div>
                        <v-card>
                            <v-card-text>{{scripts.para}}</v-card-text>
                            <v-card-text>
                                <audio :src="scripts.audio" preload="auto"></audio>
                            </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import toolsData from '../config/scripts.json';
    export default {
        name: 'toolDetails',
        props: {
            Parenttools: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                'toolsData': toolsData
            }
        },
        mounted : function () {
            audiojs.events.ready(function() {
                audiojs.createAll();
            });
        }
    }
</script>
