<template>

    <div class="right-tabs main-working-area">

        <div v-for="(data,parentIndex) in trainingData" :key="parentIndex">
                <div v-if="data.id == firstData">
                    <v-stepper v-model="e6" vertical>
                        <v-stepper-step :complete="e6 > 1" step="1">
                            Watch the video
                            <small>Summarize if needed</small>
                    </v-stepper-step>



                    <v-stepper-content step="1">
                    <v-card flat>
                    <v-card-text class="phase-video-part">
                    <iframe id="video" class="embed-responsive-item" :src="data.vid" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </v-card-text>
                    <v-card-text>
                    {{data.phaseContent}}
                    </v-card-text>
                    </v-card>
                    <v-btn color="primary" @click="e6 = 2">Take Quiz</v-btn>
                    </v-stepper-content>
                    <v-stepper-step :complete="e6 > 2" step="2">Quiz - Section 1.1</v-stepper-step>
                    <v-stepper-content step="2">
                    <v-card flat class="listed-questions">
                    <v-card-text class="question-portion" v-for="(questions,index) in data.phaseQuestions" :key="index" v-if="questions.activeQuestion">
                    <p class="remaining-quest">Question {{index+1}} of 5</p>
                    <p>{{questions.quest}}</p>
                    <v-radio-group color="success" :mandatory="false"  >
                    <v-radio @change="update"   color="primary lighten-1"  v-for="(optns,ind) in questions.options" :key="ind" :label="optns.opt"
                    :value="optns.val" class="listed-radios"></v-radio>
                    </v-radio-group>
                    <v-btn  :disabled="optionSelected" v-show="!questions.lastQuestion" right color="success" @click="nextQuestion(index,parentIndex)">Next Question</v-btn>
                    <v-btn  :disabled="optionSelected" v-show="questions.lastQuestion" color="primary" @click="nextSection(data.id,parentIndex)" to="">Continue To Next Section</v-btn>
                    <v-btn flat @click="watchAgain(parentIndex)">Watch Again!</v-btn>
                    </v-card-text>
                    </v-card>
                    </v-stepper-content>
                    </v-stepper>


                </div>
        </div>

    </div>
</template>

<script>
    import trainingData from '../config/trainings.json';
    export default {
        name: 'trainingDetails',
        props: {
            training: {
                type: Number,
                required: true,
            },
            program: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                'trainingData': trainingData,
                optionSelected: true,
                e6: 1,
                firstData: this.training,
                firstProgram: this.program
            }
        },
        methods: {
            nextQuestion: function (questionIndex,parentIndex) {
                for (var i = 0; i < this.trainingData[parentIndex].phaseQuestions.length; i++) {
                    this.trainingData[parentIndex].phaseQuestions[i].activeQuestion = false;
                }
                var add = questionIndex + 1;
                this.trainingData[parentIndex].phaseQuestions[add].activeQuestion = true;
                this.optionSelected = true;
            },
            update: function () {
                $('.listed-radios input').attr('checked', 'checked');
                this.optionSelected = false;
            },
            watchAgain: function (parentIndex) {
                for (var i = 0; i < this.trainingData[parentIndex].phaseQuestions.length; i++) {
                    this.trainingData[parentIndex].phaseQuestions[i].activeQuestion = false;
                }
                this.e6 = 1;
                this.trainingData[parentIndex].phaseQuestions[0].activeQuestion = true;
                this.optionSelected = true;
            },
            nextSection: function (topId,parentIndex) {
               //this.$emit('mark_complete', topId);
                this.$router.push('/training/'+this.firstProgram+'/'+this.trainingData[parentIndex].nextSection);
                this.e6 = 1;
            }
        },
        mounted: function () {
            // $('.choty-bachy a[href="#/broker-1.1"]').addClass('primary--text v-list__tile--active hello');
             //console.log(this.firstData);

        },
        created: function () {
            //console.info(this.firstData, this.trainingData[this.firstData]);
            // alert(this.firstData);
        },
        computed: {
            currentQuestion: function () {
                return this.trainingData.phaseQuestions.filter(function (d) {
                    return d.activeQuestion;
                });
            },
        },
        watch: {
            '$route'(to, from) {
                let myString = this.$router.currentRoute.path;
                //console.log(myString);
                let sillyString = myString.substr(13);
                // console.log(sillyString);
                this.firstData = sillyString;
                this.e6 = 1;
            }
        }
    }
</script>