<template>
    <div>
        <v-layout row wrap class="bussVerb py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">VERBALIZATION & AFFIRMATIONS</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card-text class="bussVerb--text font-weight-bold mx-auto page-info-text">Verbalizations and Affirmations are skills every powerful successful person possess. We will want you to talk to yourself! Sounds weird, right? Well we are weird at GREL, we are different than the rest :)</v-card-text>
                </v-flex>
                <v-flex xs12>
                    <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                        <label class="font-weight-bold">Special Instructions: </label>
                        <label class="" style="display: block">1) Your statements should have a minimum of 5 words.  </label>
                        <label class="">2) 3 fields in the list are mandatory.</label>
                    </v-card-text>
                </v-flex>

                <v-flex xs12>
                    <v-form class="mx-auto" style="max-width: 990px;">
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                                    <label class="font-weight-bold text-xs-left mb-0 font-size-14">WRITE DOWN YOUR CLEAR SPECIFIC MEASURABLE GOALS - BE AS SPECIFIC AS POSSIBLE: </label>
                                    <v-layout row wrap>
                                        <v-flex xs11>
                                            <v-textarea
                                                    name="input-7-1"
                                                    label="Default style"
                                                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                                                    hint="Hint text"
                                                    solo
                                                    no-resize
                                                    rows="8"
                                            ></v-textarea>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon flat depressed class="bussVerb">
                                                <v-icon class="white--text">play_arrow</v-icon>
                                            </v-btn>
                                            <v-tooltip bottom>
                                                <v-btn icon flat depressed class="bussVerb" slot="activator">
                                                    <v-icon class="white--text">info</v-icon>
                                                </v-btn>
                                                <span>Any Tip Goes Here...</span>
                                            </v-tooltip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12>
                                <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                                    <label class="font-weight-bold text-xs-left mb-0 font-size-14">WRITE DOWN YOUR CLEAR SPECIFIC MEASURABLE GOALS - BE AS SPECIFIC AS POSSIBLE: </label>
                                    <v-layout row wrap>
                                        <v-flex xs11>
                                            <v-textarea
                                                    name="input-7-1"
                                                    label="Default style"
                                                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                                                    hint="Hint text"
                                                    solo
                                                    no-resize
                                                    rows="8"
                                            ></v-textarea>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon flat depressed class="bussVerb">
                                                <v-icon class="white--text">play_arrow</v-icon>
                                            </v-btn>
                                            <v-tooltip bottom>
                                                <v-btn icon flat depressed class="bussVerb" slot="activator">
                                                    <v-icon class="white--text">info</v-icon>
                                                </v-btn>
                                                <span>Any Tip Goes Here...</span>
                                            </v-tooltip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12>
                                <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                                    <label class="font-weight-bold text-xs-left mb-0 font-size-14">WRITE DOWN YOUR CLEAR SPECIFIC MEASURABLE GOALS - BE AS SPECIFIC AS POSSIBLE: </label>
                                    <v-layout row wrap>
                                        <v-flex xs11>
                                            <v-textarea
                                                    name="input-7-1"
                                                    label="Default style"
                                                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                                                    hint="Hint text"
                                                    solo
                                                    no-resize
                                                    rows="8"
                                            ></v-textarea>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon flat depressed class="bussVerb">
                                                <v-icon class="white--text">play_arrow</v-icon>
                                            </v-btn>
                                            <v-tooltip bottom>
                                                <v-btn icon flat depressed class="bussVerb" slot="activator">
                                                    <v-icon class="white--text">info</v-icon>
                                                </v-btn>
                                                <span>Any Tip Goes Here...</span>
                                            </v-tooltip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12 mb-3>
                                <v-card-text class="mot-quotes-img px-0">
                                    <img src="../../images/motivational-img.png" style="width: 100%">
                                    <h4 class="font-italic font-weight-thin white--text text-xs-right">“Failing to plan is planning to fail.” <br><span class="right">~Alan Lakein</span></h4>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12>
                                <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                                    <label class="font-weight-bold text-xs-left mb-0 font-size-14">WRITE DOWN YOUR CLEAR SPECIFIC MEASURABLE GOALS - BE AS SPECIFIC AS POSSIBLE: </label>
                                    <v-layout row wrap>
                                        <v-flex xs11>
                                            <v-textarea
                                                    name="input-7-1"
                                                    label="Default style"
                                                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                                                    hint="Hint text"
                                                    solo
                                                    no-resize
                                                    rows="8"
                                            ></v-textarea>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon flat depressed class="bussVerb">
                                                <v-icon class="white--text">play_arrow</v-icon>
                                            </v-btn>
                                            <v-tooltip bottom>
                                                <v-btn icon flat depressed class="bussVerb" slot="activator">
                                                    <v-icon class="white--text">info</v-icon>
                                                </v-btn>
                                                <span>Any Tip Goes Here...</span>
                                            </v-tooltip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12>
                                <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                                    <label class="font-weight-bold text-xs-left mb-0 font-size-14">WRITE DOWN YOUR CLEAR SPECIFIC MEASURABLE GOALS - BE AS SPECIFIC AS POSSIBLE: </label>
                                    <v-layout row wrap>
                                        <v-flex xs11>
                                            <v-textarea
                                                    name="input-7-1"
                                                    label="Default style"
                                                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                                                    hint="Hint text"
                                                    solo
                                                    no-resize
                                                    rows="8"
                                            ></v-textarea>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon flat depressed class="bussVerb">
                                                <v-icon class="white--text">play_arrow</v-icon>
                                            </v-btn>
                                            <v-tooltip bottom>
                                                <v-btn icon flat depressed class="bussVerb" slot="activator">
                                                    <v-icon class="white--text">info</v-icon>
                                                </v-btn>
                                                <span>Any Tip Goes Here...</span>
                                            </v-tooltip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12>
                                <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                                    <label class="font-weight-bold text-xs-left mb-0 font-size-14">WRITE DOWN YOUR CLEAR SPECIFIC MEASURABLE GOALS - BE AS SPECIFIC AS POSSIBLE: </label>
                                    <v-layout row wrap>
                                        <v-flex xs11>
                                            <v-textarea
                                                    name="input-7-1"
                                                    label="Default style"
                                                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                                                    hint="Hint text"
                                                    solo
                                                    no-resize
                                                    rows="8"
                                            ></v-textarea>
                                        </v-flex>
                                        <v-flex xs1>
                                            <v-btn icon flat depressed class="bussVerb">
                                                <v-icon class="white--text">play_arrow</v-icon>
                                            </v-btn>
                                            <v-tooltip bottom>
                                                <v-btn icon flat depressed class="bussVerb" slot="activator">
                                                    <v-icon class="white--text">info</v-icon>
                                                </v-btn>
                                                <span>Any Tip Goes Here...</span>
                                            </v-tooltip>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-flex>
                            <v-flex xs12 mb-3>
                                <v-card-text class="mot-quotes-img px-0">
                                    <img src="../../images/motivational-img.png" style="width: 100%">
                                    <h4 class="font-italic font-weight-thin white--text text-xs-right">“Failing to plan is planning to fail.” <br><span class="right">~Alan Lakein</span></h4>
                                </v-card-text>
                            </v-flex>
                        </v-layout>
                        <v-flex xs12 mt-3>
                            <v-btn flat depressed round class="bussVerb--text right ma-0 border verbalBorder font-weight-thin">
                                Save & Continue
                            </v-btn>
                        </v-flex>
                    </v-form>
                </v-flex>


            </v-layout>
        </v-container>
    </div>
</template>


<script>

    export default {
        data(){
            return{

            }
        },
        beforeDestroy () {

        },
        mounted () {

        },
        components: {

        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>