<template>
    <div>
        <v-layout row wrap class="bussVisual py-5 bus-plan-header">
            <v-flex class="text-xs-center white--text">
                <h1 class="text-uppercase">12 Months Business Plan</h1>
                <h2 class="text-uppercase font-weight-normal">VISION BOARD - VISUALIZATION</h2>
                <v-btn icon class="white--text">
                    <v-icon size="40">play_circle_outline</v-icon>
                </v-btn>
                <span class="text-uppercase">How To Use This Page</span>
            </v-flex>
        </v-layout>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12>
                    <v-card-text class="bussVerb--text font-weight-bold mx-auto page-info-text">This is going to be a fun page. Enjoy your time. Be specific and make sure you write your comments for each picture you choose.</v-card-text>
                </v-flex>
                <v-flex xs12>
                    <v-card-text class="page-info-text mx-auto text-xs-left pb-0">
                        <label class="font-weight-bold"><span>Khalid!</span> Where Do You See Yourself In 3-5 Years?</label>
                    </v-card-text>
                </v-flex>
                <v-flex sm10 offset-sm1>
                    <v-layout row wrap>
                        <v-flex md6>
                          <v-layout row wrap>
                              <v-flex sm6 v-for="(imgIds,index) in selectedFinancePopup" :key="index" class="border-images d-flex align-center" pa-0>
                                  <v-btn flat depressed @click="carouselFinance(index,imgIds)" v-if="imgIds" class="ma-0 px-0 py-1 selectedImages" style="width:auto; height: auto">
                                      <span v-for="(imgs,imgIndex) in visionBoard" :key="imgIndex" v-if="imgs.imgId==imgIds">
                                           <img class="d-block mb-2" :src="imgs.imgUrl">
                                            {{imgs.imgText}}
                                      </span>
                                  </v-btn>
                                  <v-btn flat v-else class="ma-0 pa-0 unSelectedImages" @click="carouselFinance(index,imgIds)">
                                      <v-icon color="bussVisual" size="42">add_circle_outline</v-icon>
                                  </v-btn>
                              </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex md6>
                            <v-layout row wrap>
                                <v-flex sm6 v-for="(imgIds,index) in selectedHealthPopup" :key="index" class="border-images d-flex align-center" pa-0>
                                    <v-btn flat depressed @click="carouselHealth(index,imgIds)" v-if="imgIds" class="ma-0 px-0 py-1 selectedImages" style="width:auto; height: auto">
                                      <span v-for="(imgs,imgIndex) in visionBoard" :key="imgIndex" v-if="imgs.imgId==imgIds">
                                           <img class="d-block mb-2" :src="imgs.imgUrl">
                                            {{imgs.imgText}}
                                      </span>
                                    </v-btn>
                                    <v-btn flat v-else class="ma-0 pa-0 unSelectedImages" @click="carouselHealth(index,imgIds)">
                                        <v-icon color="bussVisual" size="42">add_circle_outline</v-icon>
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex sm6 v-for="(imgIds,index) in selectedRelationPopup" :key="index" class="border-images d-flex align-center" pa-0>
                                    <v-btn flat depressed @click="carouselRelation(index,imgIds)" v-if="imgIds" class="ma-0 px-0 py-1 selectedImages" style="width:auto; height: auto">
                                      <span v-for="(imgs,imgIndex) in visionBoard" :key="imgIndex" v-if="imgs.imgId==imgIds">
                                           <img class="d-block mb-2" :src="imgs.imgUrl">
                                            {{imgs.imgText}}
                                      </span>
                                    </v-btn>
                                    <v-btn flat v-else class="ma-0 pa-0 unSelectedImages" @click="carouselRelation(index,imgIds)">
                                        <v-icon color="bussVisual" size="42">add_circle_outline</v-icon>
                                    </v-btn>
                                </v-flex>
                             </v-layout>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex xs12>
                    <v-form class="mx-auto" style="max-width: 990px;">
                        <v-flex xs12 mt-3>
                            <v-btn flat depressed round class="bussVisual--text right ma-0 border visualBorder font-weight-thin">
                                Save & Continue
                            </v-btn>
                        </v-flex>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
        <v-flex xs12 class="carousel-jedi" :class="{showCarouselJedi : isShowFinance}">
            <v-card class="inner-carousel-jedi">
                <v-btn icon color="grey lighten-2" class="close-carousel" @click="isShowFinance=false"><v-icon>close</v-icon></v-btn>
                <carousel-3d>
                    <template>
                        <slide v-for="(financeList,index) in visionBoard" :index="index"  :key="index" v-if="financeList.type=='finance'">
                            <img :src="financeList.imgUrl">
                            <v-text-field
                                    label=""
                                    placeholder="Enter Text"
                                    solo
                                    hide-details
                                    v-model="financeList.imgText"
                            ></v-text-field>
                            <v-btn block flat depressed class="my-0 mx-auto text-capitalize" :disabled="financeList.isSelected" @click="selectImg(index)">
                                <span v-if="!financeList.isSelected">Select Image</span>
                                <span v-else>Image Selected !</span>
                            </v-btn>
                            <span v-if="financeImgId">
                                <span v-if="financeImgId==financeList.imgId && financeList.isShown==true"></span>
                                <span v-else v-show="financeList.isShown" class="alreadySelectedMsg">
                                    Already Selected
                                </span>
                            </span>
                            <span v-else v-show="financeList.isShown" class="alreadySelectedMsg">
                                    Already Selected
                            </span>
                        </slide>
                    </template>
                </carousel-3d>
                <v-btn flat class="primary d-block mx-auto font-weight-light" @click="InsertImage(financeIndex,currentSelectedFinance)">Insert Image</v-btn>
            </v-card>
        </v-flex>
        <v-flex xs12 class="carousel-jedi" :class="{showCarouselJedi : isShowHealth}">
            <v-card class="inner-carousel-jedi">
                <v-btn icon color="grey lighten-2" class="close-carousel" @click="isShowHealth=false"><v-icon>close</v-icon></v-btn>
                <carousel-3d>
                    <template>
                        <slide v-for="(healthList,index) in visionBoard" :index="index"  :key="index" v-if="healthList.type=='health'">
                            <img :src="healthList.imgUrl">
                            <v-text-field
                                    label=""
                                    placeholder="Enter Text"
                                    solo
                                    hide-details
                                    v-model="healthList.imgText"
                            ></v-text-field>
                            <v-btn block flat depressed class="my-0 mx-auto text-capitalize" :disabled="healthList.isSelected" @click="selectImgHealth(index)">
                                <span v-if="!healthList.isSelected">Select Image</span>
                                <span v-else>Image Selected !</span>
                            </v-btn>
                            <span v-if="healthImgId">
                                <span v-if="healthImgId==healthList.imgId && healthList.isShown==true"></span>
                                <span v-else v-show="healthList.isShown" class="alreadySelectedMsg">
                                    Already Selected
                                </span>
                            </span>
                            <span v-else v-show="healthList.isShown" class="alreadySelectedMsg">
                                    Already Selected
                            </span>
                        </slide>
                    </template>
                </carousel-3d>
                <v-btn flat class="primary d-block mx-auto font-weight-light" @click="InsertImageHealth(healthIndex,currentSelectedHealth)">Insert Image</v-btn>
            </v-card>
        </v-flex>
        <v-flex xs12 class="carousel-jedi" :class="{showCarouselJedi : isShowRelation}">
            <v-card class="inner-carousel-jedi">
                <v-btn icon color="grey lighten-2" class="close-carousel" @click="isShowRelation=false"><v-icon>close</v-icon></v-btn>
                <carousel-3d>
                    <template>
                        <slide v-for="(relationList,index) in visionBoard" :index="index"  :key="index" v-if="relationList.type=='relation'">
                            <img :src="relationList.imgUrl">
                            <v-text-field
                                    label=""
                                    placeholder="Enter Text"
                                    solo
                                    hide-details
                                    v-model="relationList.imgText"
                            ></v-text-field>
                            <v-btn block flat depressed class="my-0 mx-auto text-capitalize" :disabled="relationList.isSelected" @click="selectImgRelation(index)">
                                <span v-if="!relationList.isSelected">Select Image</span>
                                <span v-else>Image Selected !</span>
                            </v-btn>
                            <span v-if="relationImgId">
                                <span v-if="relationImgId==relationList.imgId && relationList.isShown==true"></span>
                                <span v-else v-show="relationList.isShown" class="alreadySelectedMsg">
                                    Already Selected
                                </span>
                            </span>
                            <span v-else v-show="relationList.isShown" class="alreadySelectedMsg">
                                    Already Selected
                            </span>
                        </slide>
                    </template>
                </carousel-3d>
                <v-btn flat class="primary d-block mx-auto font-weight-light" @click="InsertImageRelation(relationIndex,currentSelectedRelation)">Insert Image</v-btn>
            </v-card>
        </v-flex>
    </div>
</template>


<script>

    //import {Carousel3d, Slide} from 'vue-carousel-3d';


    export default {
        // components: {
        //   'carousel3d' : Carousel3d,
        //   'slide': Slide
        // },
        data(){
            return{
                isShowFinance:false,
                isShowHealth:false,
                isShowRelation:false,
                dialog: false,
                visionBoard:[
                    {
                        imgUrl:'../../public/images/developer-seal.png',
                        type:'relation',
                        isSelected:false,
                        isShown:false,
                        imgId:'10',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/listing-presentation.png',
                        type:'relation',
                        isSelected:false,
                        isShown:false,
                        imgId:'11',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance1.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'1',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance2.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'2',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance3.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'3',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance4.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'4',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance5.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'5',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance6.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'6',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance7.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'7',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/finance8.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'8',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/developer-seal.png',
                        type:'finance',
                        isSelected:false,
                        isShown:false,
                        imgId:'9',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/grel-single-logo.png',
                        type:'relation',
                        isSelected:false,
                        isShown:false,
                        imgId:'12',
                        imgText:''
                    },
                    {
                        imgUrl:'../../public/images/tool-one.png',
                        type:'relation',
                        isSelected:false,
                        isShown:false,
                        imgId:'13',
                        imgText:''
                    }
                ],
                currentSelectedFinance:'',
                selectedFinancePopup:['','','','','','','',''],
                financeIndex:'',
                financeImgId:'',
                currentSelectedHealth:'',
                selectedHealthPopup:['','','',''],
                healthIndex:'',
                healthImgId:'',
                currentSelectedRelation:'',
                selectedRelationPopup:['','','',''],
                relationIndex:'',
                relationImgId:'',
            }
        },
        methods:{
            carouselFinance:function(index,imgId){
              this.isShowFinance=true;
              this.financeIndex=index;
              this.financeImgId=imgId;
            },
            selectImg: function (index) {
                for (var i = 0; i < this.visionBoard.length; i++) {
                    if(this.visionBoard[i].type=='finance'){
                        this.visionBoard[i].isSelected = false;
                    }
                }
                this.visionBoard[index].isSelected = true;
                this.currentSelectedFinance=this.visionBoard[index].imgId;
            },
            InsertImage:function(key,value){
                this.selectedFinancePopup[key]=value;
                this.isShowFinance=false;
                var currentIndex =_.findIndex(this.visionBoard, function(o) { return o.imgId == value; });
                this.visionBoard[currentIndex].isShown=true;
            },

            carouselHealth:function(index,imgId){
                this.isShowHealth=true;
                this.healthIndex=index;
                this.healthImgId=imgId;
            },
            selectImgHealth: function (index) {
                for (var i = 0; i < this.visionBoard.length; i++) {
                    if(this.visionBoard[i].type=='health'){
                        this.visionBoard[i].isSelected = false;
                    }
                }
                this.visionBoard[index].isSelected = true;
                this.currentSelectedHealth=this.visionBoard[index].imgId;
            },
            InsertImageHealth:function(key,value){
                this.selectedHealthPopup[key]=value;
                this.isShowHealth=false;
                var currentIndex =_.findIndex(this.visionBoard, function(o) { return o.imgId == value; });
                this.visionBoard[currentIndex].isShown=true;
            },

            carouselRelation:function(index,imgId){
                this.isShowRelation=true;
                this.relationIndex=index;
                this.relationImgId=imgId;
            },
            selectImgRelation: function (index) {
                for (var i = 0; i < this.visionBoard.length; i++) {
                    if(this.visionBoard[i].type=='relation'){
                        this.visionBoard[i].isSelected = false;
                    }
                }
                this.visionBoard[index].isSelected = true;
                this.currentSelectedRelation=this.visionBoard[index].imgId;
            },
            InsertImageRelation:function(key,value){
                this.selectedRelationPopup[key]=value;
                this.isShowRelation=false;
                var currentIndex =_.findIndex(this.visionBoard, function(o) { return o.imgId == value; });
                this.visionBoard[currentIndex].isShown=true;
            }
        }
    }
</script>

<style>
    .container.fluid.fill-height{padding:0}
</style>