
// Body
$body-bg: #f5f8fa;
$primary-color: #1464bf;
$primary-hover:#0b4990;
$bussAssess:#F5A623;
$bussInfo: #263768;
$bussVerb:#773BAB;
$bussVisual:#EBB626;
$bussProspect:#2451B9;
$bussSOI:#A53BD2;
$formText:#576b7d;
$bussStoreFront:#505190;
$bussFace:#51A65E;
$bussFSBO:#E0D15F;
$bussAdvertising:#4C7EF2;
$bussOnline:#DE5F5F;
$bussPractical:#9CD92B;
$bussHealth:#A82939;
$bussRelation:#62903e;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$mobile-width:767;
$tablet-width: 768px;
$desktop-width: 1024px;
$thunder-width:1200;
