<template>
    <div class="home-page">
        


        <appHeader></appHeader>




    </div>
</template>

<script>

    import appHeader from '../components/header.vue';

    export default { 
        data() {
            return {
               
            };
        },
        components: {
            'appHeader': appHeader
        },
        methods: {
           
        },
        mounted() {
            var self = this;
        }
    }


</script>
